<script setup>
import { useNavStore } from '../../stores/nav.js'
import { useTadStore } from '../../stores/tad.js'
import { computed } from 'vue'

const nav = useNavStore()
const tad = useTadStore()

const brands = computed(() => tad.brands)
const selectedBrand = computed(() => nav.selectedBrand)

function selectBrand (brand) {
  nav.selectBrand(brand)
}
</script>

<template>
  <q-btn-dropdown
    dense
    outline
    no-caps
    :color="selectedBrand.color ? selectedBrand.color : 'blue-grey'"
    id="brand-dropdown"
    :label="selectedBrand.label || 'Marka'"
    title="Wybierz markę"
  >
    <q-list>
      <q-item
        clickable
        v-close-popup
        v-for="brand in brands"
        :key="brand.value"
        @click="selectBrand(brand)"
      >
        <q-item-section>
          <q-item-label>{{ brand.label }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<style scoped>
#brand-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  border-radius: 0 0 0 .75rem !important;
  border-top: none;
  border-right: none;
  height: 30px;
}
</style>
