<script setup>
import { engineDesc } from '../../utils/homologation.js'
import { useNavStore } from '../../stores/nav.js'
import { useTadStore } from '../../stores/tad.js'
import { computed } from 'vue'

const nav = useNavStore()
const tad = useTadStore()

const approval = computed(() => tad.approvalBodyBySelection)

const engineOptions = computed(() => {
  if (approval.value) {
    return approval.value.map(el => {
      const option = {}
      option.id = el['_0.2.VARIANTE'] + '/' + el['_0.2.VERSION']
      option.desc = engineDesc(el)
      return option
    })
  }
  return []
})

const selectedId = computed(() => {
  const variant = nav.selectedVariant
  const version = nav.selectedVersion
  return variant + '/' + version
})

function selectVariantAndVersion (variantVersion) {
  const variant = variantVersion.split('/')[0]
  const version = variantVersion.split('/')[1]
  nav.$patch({ selectedVariant: variant })
  nav.$patch({ selectedVersion: version })
}
</script>

<style scoped>
table {
  border-collapse: collapse;
}
table, th, td {
  text-align: center;
}
#options td {
  cursor: pointer;
}
</style>

<template>
  <q-markup-table bordered>
    <thead>
      <tr><th id="options-head">Wybierz silnik:</th></tr>
    </thead>
    <tbody id="options">
      <tr v-for="option in engineOptions" :key="option.id">
        <td @click="selectVariantAndVersion(option.id)" :class="{ 'bg-grey-4': option.id === selectedId }">
          <div class="text-subtitle1" :class="{ 'text-bold': option.id === selectedId }">
            {{ option.desc }}
          </div>
          <div class="text-caption text-grey">{{ option.id }}</div>
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>
