
<script setup>
import { useNavStore } from '../../stores/nav.js'
import { ref, computed } from 'vue'

const nav = useNavStore()

const selectedFuel = ref('')
const brand = computed(() => nav.selectedBrand)
</script>

<template>
  <q-btn-group>
    <q-btn
      v-for="fuel in ['Benzyna', 'Diesel']"
      :key="fuel"
      :label="fuel"
      class="no-border-radius"
      :color="brand.color ? brand.color : 'blue-grey'"
      :outline="fuel !== selectedFuel"
      @click="selectedFuel = fuel"
    />
  </q-btn-group>
</template>
