
<script setup>
import { useNavStore } from '../../stores/nav.js'
import { useTadStore } from '../../stores/tad.js'
import { ref, computed } from 'vue'

const nav = useNavStore()
const tad = useTadStore()

const loading = ref(false)

const brand = computed(() => nav.selectedBrand)
const types = computed(() => tad.types)
const selected = computed(() => nav.selectedType.label)
const brandTypes = computed(() => types.value.filter(type => type.brand === brand.value.value))

function loadXml (type) {
  loading.value = true
  const xmlId = `${type.brand}_${type.value}`
  nav.$patch({ selectedType: type })
  tad.fetchApproval(xmlId).then(() => {
    loading.value = false
  })
}
</script>

<template>
  <nav class="q-pa-xs">
    <span v-for="(typ, i) in brandTypes" :key="typ.value">
      <span v-if="i !== 0"> | </span>
      <a
        :class="typ.label === selected ? `text-${brand.color} selected` : `text-${brand.color}`"
        href="javascript:void(0)"
        @click="loadXml(typ)"
      >
        {{ typ.label }}
      </a>
    </span>
    <q-linear-progress indeterminate v-if="loading" :color="brand.color" />
  </nav>
</template>

<style scoped>
* {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a.selected {
  text-decoration: underline;
}
</style>
