<script setup>
import FuelToggle from './FuelToggle.vue'
import fields from '../../utils/field-mapping.js'
import { bodyCodeToBodyName, engineDesc } from '../../utils/homologation.js'
import { computed, onMounted } from 'vue'
import { useNavStore } from '../../stores/nav.js'
import { useTadStore } from '../../stores/tad.js'

const nav = useNavStore()
const tad = useTadStore()


const brand = computed(() => nav.selectedBrand)
const head = computed(() => tad.approvalHeadBySelection)
// const body = computed(() => tad.approvalBodyBySelection)
const varVerData = computed(() => tad.variantVersionData)
const variant = computed(() => nav.selectedVariant)
const version = computed(() => nav.selectedVersion)

const approvalNumber = computed(() => {
  if (head.value) {
    return head.value._GENEHMIGUNGSNR
  }
  return ''
})

const approvalDate = computed(() => {
  if (head.value) {
    return head.value._GENEHMIGUNGSDAT
  }
  return ''
})

const data = computed(() => {
  const result = {}
  if (varVerData.value) {
    result.engineDesc = engineDesc(varVerData.value)
    for (const key in fields) {
      const fieldOrigName = fields[key]
      if (fieldOrigName in varVerData.value) {
        result[key] = varVerData.value[fieldOrigName]
      }
    }
  }
  if (result.engineNetPower) {
    const engineNetPower = parseInt(result.engineNetPower)
    const engineHorsePower = Math.round(engineNetPower * 1.36)
    result.engineNetPower = `${engineNetPower} (${engineHorsePower}) / ${result.engineRotationSpeedNetPower}`
  }
  result.runningOrderMassWithoutDriver = result.runningOrderMass ? result.runningOrderMass - 75 : ''
  result.loadCapacity = result.runningOrderMass ? result.permissibleMaximumMass - result.runningOrderMassWithoutDriver : ''
  return result
})

onMounted(() => nav.$patch({ drawerOpen: false }))
</script>

<template>
  <q-markup-table bordered separator="cell">
    <thead>
      <tr>
        <th>Materiał wyłącznie do użytku wewnętrznego AZD</th>
        <th colspan="2">Dane homologacyjne
          <small v-if="approvalNumber">wg świadectwa nr {{ approvalNumber }} wydanego {{ approvalDate }}</small>
        </th>
      </tr>
      <tr>
        <td rowspan="2" class="bg-grey-4 verical-middle">
          <FuelToggle />
        </td>
        <th colspan="2" :class="brand.color ? `text-white bg-${brand.color}` : 'text-white bg-blue-grey'" style="font-size:170%;">
          {{ brand.label }} <span id="trade-name">{{ data.tradeName }}</span><span id="body-type"> {{ bodyCodeToBodyName(data.bodyType) }}</span>
        </th>
      </tr>
      <tr>
        <th class="q-pa-none vertical-bottom text-caption">Jednostka</th>
        <td id="engine">
          <h6 class="q-ma-none">{{ data.engineDesc }}</h6>
          <small class="text-caption text-grey">{{ variant }} {{ version }}</small>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Norma emisji spalin</th>
        <th></th>
        <td id="exhaust-emission-euro-level">{{ data.exhaustEmissionEuroLevel }}</td>
      </tr>
      <tr>
        <th>pojemność skokowa silnika</th>
        <th>cm<sup>3</sup></th>
        <td id="engine-capacity">{{ data.engineCapacity }}</td>
      </tr>
      <tr>
        <th>Moc maksymalna silnika (ISO) przy prędkości obrotowej</th>
        <th>kW(KM)/min<sup>-1</sup></th>
        <td id="engine-net-power">{{ data.engineNetPower }}</td>
      </tr>
      <tr>
        <th><b>Wymiary</b><br>długość</th>
        <th>mm</th>
        <td id="minimum-to-maximum-length">
          {{ data.minimumLength }}<span v-if="data.maximumLength"> - {{ data.maximumLength }}</span>
        </td>
      </tr>
      <tr>
        <th>szerokość</th>
        <th>mm</th>
        <td id="minimum-width">{{ data.minimumWidth }}</td>
      </tr>
      <tr>
        <th>wysokość (ML1)</th>
        <th>mm</th>
        <td id="minimum-to-maximum-height">
          {{ data.minimumHeight }}<span v-if="data.maximumHeight"> - {{ data.maximumHeight }}</span>
        </td>
      </tr>
      <tr>
        <th>Rozstaw osi (ML1/ML3)</th>
        <th>mm</th>
        <td id="wheelbase">{{ data.wheelbase }}</td>
      </tr>
      <tr>
        <th>Rozstaw kół osi przedniej/tylnej (ML1)</th>
        <th>mm</th>
        <td id="axles-track">
          {{ data.minimumAxle1TrackWidth }}<span v-if="data.maximumAxle1TrackWidth"> - {{ data.maximumAxle1TrackWidth }}</span>
           / {{ data.minimumAxle2TrackWidth }}<span v-if="data.maximumAxle2TrackWidth"> - {{ data.maximumAxle2TrackWidth }}</span>
        </td>
      </tr>
      <tr>
        <th>Liczba miejsc siedzących</th>
        <th></th>
        <td id="seats-number">{{ data.seatsNumber }}</td>
      </tr>
      <tr>
        <th>
          masa pojazdu w stanie gotowości do jazdy (z kierowcą o masie 75 kg)<br>
          masa pojazdu gotowego do jazdy przypadająca na oś przednią<br>
          masa pojazdu gotowego do jazdy przypadająca na oś tylną
        </th>
        <th>kg<br>kg<br>kg</th>
        <td id="running-order-mass">{{ data.runningOrderMass }}<br>-<br>-</td>
      </tr>
      <tr>
        <th>
          masa pojazdu w stanie gotowości do jazdy (bez kierowcy)<br>
          masa pojazdu gotowego do jazdy przypadająca na oś przednią<br>
          masa pojazdu gotowego do jazdy przypadająca na oś tylną
        </th>
        <th>kg<br>kg<br>kg</th>
        <td id="running-order-mass-without-driver">{{ data.runningOrderMassWithoutDriver }}<br>-<br>-</td>
      </tr>
      <tr>
        <th>dopuszczalna ładowność wraz z kierowcą</th>
        <th>kg</th>
        <td id="load-capacity">{{ data.loadCapacity }}</td>
      </tr>
      <tr>
        <th>
          Dopuszczalna masa całkowita<br>
          dopuszczalna masa całkowita przypadająca na oś przednią<br>
          dopuszczalna masa całkowita przypadająca na oś tylną
        </th>
        <th>kg<br>kg<br>kg</th>
        <td id="permissible-maximum-mass">{{ data.permissibleMaximumMass }}<br>-<br>-</td>
      </tr>
      <tr>
        <th>maksymalne dopuszczalne obciążenie osi przedniej<br>maksymalne dopuszczalne obciążenie osi tylnej</th>
        <th>kg<br>kg</th>
        <td id="permissible-maximum-axles-mass">
          {{ data.permissibleMaximumAxle1Mass }}<br>{{ data.permissibleMaximumAxle2Mass }}
        </td>
      </tr>
      <tr>
        <th>Masa przyczepy z hamulcem przy nachyleniu 12%</th>
        <th>kg</th>
        <td id="centre-axle-trailer-mass">{{ data.centreAxleTrailerMass }}</td>
      </tr>
      <tr>
        <th>Masa przyczepy bez hamulca</th>
        <th>kg</th>
        <td id="unbraked-trailer-mass">{{ data.unbrakedTrailerMass }}</td>
      </tr>
      <tr>
        <th>Maksymalna masa nacisku pionowego na hak holowniczy</th>
        <th>kg</th>
        <td id="towing-device-maximum-load">{{ data.towingDeviceMaximumLoad }}</td>
      </tr>
      <tr>
        <th>Dopuszczalna masa całkowita zespołu pojazd - przyczepa</th>
        <th>kg</th>
        <td id="permissible-maximum-with-trailer-mass">{{ data.permissibleMaximumWithTrailerMass }}</td>
      </tr>
      <tr>
        <th>Prędkość maksymalna</th>
        <th>km/h</th>
        <td id="maximum-speed">{{ data.maximumSpeed }}</td>
      </tr>
      <tr>
        <th>zużycie paliwa / poziom emisji spalin<br>A (warunki miejskie)</th>
        <th>l/100 km</th>
        <td id="fuel-consumption-in-urban-condition">{{ data.fuelConsumptionPetrolAndDieselInUrbanCondition }}</td>
      </tr>
      <tr>
        <th>B (warunki pozamiejskie)</th>
        <th>l/100 km</th>
        <td id="fuel-consumption-in-extra-urban-condition">{{ data.fuelConsumptionPetrolAndDieselInExtraUrbanCondition }}</td>
      </tr>
      <tr>
        <th>C (test mieszany)</th>
        <th>l/100 km</th>
        <td id="fuel-consumption-in-combined-condition">{{ data.fuelConsumptionPetrolAndDieselInCombinedCondition }}</td>
      </tr>
      <tr>
        <th>emisja CO<sub>2</sub> (warunki miejskie)</th>
        <th>g/km</th><td id="exhaust-emission-co2-in-urban-condition">{{ data.exhaustEmissionCO2PetrolAndDieselInUrbanCondition }}</td>
      </tr>
      <tr>
        <th>emisja CO<sub>2</sub> (warunki pozamiejskie)</th>
        <th>g/km</th><td id="exhaust-emission-co2-in-extra-urban-condition">{{ data.exhaustEmissionCO2PetrolAndDieselInExtraUrbanCondition }}</td>
      </tr>
      <tr>
        <th>emisja CO<sub>2</sub> (test mieszany)</th>
        <th>g/km</th><td id="exhaust-emission-co2-in-combined-condition">{{ data.exhaustEmissionCO2PetrolAndDieselInCombinedCondition }}</td>
      </tr>
      <tr>
        <th>emisja tlenków azotu (NOx) / cząstki stałe</th>
        <th>mg/km</th>
        <td id="exhaust-emission-test1-main-nox-and-particulates-mass">
          {{ data.exhaustEmissionTest1MainNox }} / {{ data.exhaustEmissionTest1MainParticulatesMass }}
        </td>
      </tr>
      <tr>
        <th>opony / obręcze</th>
        <th></th><td id="axle1-tyres-and-rim">{{ data.axle1Tyres }} / {{ data.axle1Rim }}</td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<style scoped>
table {
  border-collapse: collapse;
}
table, th, td {
  text-align: center;
}
tr > td:nth-child(3) {
  width: 600px;
}
.q-pa-none {
  padding: 0;
}
</style>
