
<script setup>
import PageSection from '../components/PageSection.vue'
import { useTadStore } from '../stores/tad.js'
import { useMeta } from 'quasar'
import { computed } from 'vue'

useMeta({ title: 'Świadectwa homologacji' })

const tad = useTadStore()

const keys = {
  _GENEHMIGUNGSNR: 'Nr świadectwa',
  _GENEHMIGUNGSDAT: 'Data świadectwa',
  '_0.2.TYP': 'Typ homologacyjny',
  '_0.5.ANSCHRIFT': 'Producent'
}
const loadedApprovals = computed(() => tad.loadedApprovals)
const approvals = computed(() => tad.approvals)
const approvalHeads = computed(() => {
  return loadedApprovals.value.map(el => {
    return approvals.value[el].Kopf
  })
})
</script>

<template>
  <div class="row q-pa-sm">
    <PageSection
      class="text-center"
      v-if="approvalHeads.length === 0"
      header="Najpierw wczytaj pliki XML używając tabeli typów homologacyjnych:"
    >
      <q-btn
        to="/types"
        color="blue-grey"
        size="xl"
      >
        <q-icon left name="drive_eta" />
        Typy
        <q-icon right name="open_in_browser" />
      </q-btn>
    </PageSection>
    <div
      class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pa-sm"
      v-for="head in approvalHeads"
      :key="head['_GENEHMIGUNGSNR'][0]"
    >
      <q-card>
        <q-list separator>
          <q-item v-for="(title, key) in keys" :key="key">
            <q-item-section>
              <q-item-label caption>{{ title }}</q-item-label>
              <q-item-label>{{ head[key] }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </div>
  </div>
</template>

<style scoped>
.q-card {
  height: 100%;
}
</style>
