
<script setup>
import PageSection from '../components/PageSection.vue'
import { useMeta } from 'quasar'

useMeta({ title: 'Dane do katalogu ITS' })
</script>

<template>
  <PageSection header="Dane do Katalogu ITS">
    <q-markup-table flat bordered separator="cell">
      <thead>
        <tr><th>Kod UE</th><th>L.p.</th><th>Nazwa</th><th>Dane do katalogu ITS</th></tr>
      </thead>
      <tbody>
        <tr><th>---</th><th>1.</th><th class="text-left">Kod Instytutu Transportu Samochodowego</th><td><i>nadaje ITS</i></td></tr>
        <tr><th>---</th><th>2.</th><th class="text-left">Rodzaj</th><td>SAMOCHÓD OSOBOWY</td></tr>
        <tr><th>---</th><th>3.</th><th class="text-left">Podrodzaj</th><td>KOMBI</td></tr>
        <tr><th>---</th><th>4.</th><th class="text-left">Przeznaczenie</th><td>---</td></tr>
        <tr><th>D.1</th><th>5.</th><th class="text-left">Marka</th><td>SKODA</td></tr>
        <tr><th>D.2</th><th>6.</th><th class="text-left">Typ homologacyjny</th><td>3T</td></tr>
        <tr><th>D.2</th><th></th><th class="text-left">Wariant</th><td>ACDFCAX01</td></tr>
        <tr><th>D.2</th><th></th><th class="text-left">Wersja</th><td>NFD6FD6D9002S1N627</td></tr>
        <tr><th>D.3</th><th>7.</th><th class="text-left">Model (nazwa handlowa)</th><td>SUPERB</td></tr>
        <tr><th>F.1</th><th>8.</th><th class="text-left">Maksymalna masa całkowita</th><td>2190 kg</td></tr>
        <tr><th>F.2</th><th>9.</th><th class="text-left">Dopuszczalna masa całkowita</th><td>2190 kg</td></tr>
        <tr><th>F.3</th><th>10.</th><th class="text-left">Dopuszczalna masa całkowita zespołu pojazdów</th><td>4190 kg</td></tr>
        <tr><th>G</th><th>11.</th><th class="text-left">Masa własna</th><td>1525 - 1715 (odjęto masę kier.75 kg)</td></tr>
        <tr><th>J</th><th>12.</th><th class="text-left">Kategoria</th><td>M1 <small>SAMOCHÓD OSOBOWY</small></td></tr>
        <tr><th>K</th><th>13.</th><th class="text-left">Numer świadectwa homologacji krajowej lub Wspólnoty Europejskiej</th><td>e11*2001/116*0326*44</td></tr>
        <tr><th>L</th><th>14.</th><th class="text-left">Liczba osi</th><td>2</td></tr>
        <tr><th>O.1</th><th>15.</th><th class="text-left">Maksymalna masa całkowita ciągniętej przyczepy z hamulcem</th><td>2000 kg</td></tr>
        <tr><th>O.2</th><th>16.</th><th class="text-left">Maksymalna masa całkowita ciągniętej przyczepy bez hamulca</th><td>750 kg</td></tr>
        <tr><th>---</th><th>17.</th><th class="text-left">Dopuszczalna ładowność</th><td>---</td></tr>
        <tr><th>---</th><th>18.</th><th class="text-left">Maksymalna ładowność</th><td>---</td></tr>
        <tr><th>P.1</th><th>19.</th><th class="text-left">Pojemność silnika</th><td>1968.0 cm<sup>3</sup></td></tr>
        <tr><th>P.2</th><th>20.</th><th class="text-left">Maksymalna moc netto silnika</th><td>140.00 kW</td></tr>
        <tr><th>P.3</th><th>21.</th><th class="text-left">Rodzaj paliwa</th><td>D (OLEJ NAPĘDOWY)</td></tr>
        <tr><th>Q</th><th>22.</th><th class="text-left">Stosunek mocy do masy własnej</th><td>---</td></tr>
        <tr><th>S.1</th><th>23.</th><th class="text-left">Liczba miejsc siedzących:</th><td>5</td></tr>
        <tr><th>---</th><th>25.</th><th class="text-left">Największy dopuszczalny nacisk osi</th><td>1100 kg (10.78 kN)</td></tr>
        <tr><th>---</th><th>26.</th><th class="text-left">Największy maksymalny nacisk osi</th><td>1100 kg (10.78 kN)</td></tr>
        <tr><th>---</th><th>27.</th><th class="text-left">Katalizator (tak / nie)</th><td>TAK</td></tr>
        <tr><th>---</th><th>28.</th><th class="text-left">Homologacja (tak / nie)</th><td>---</td></tr>
        <tr><th>---</th><th>29.</th><th class="text-left">Odstępstwo od homologacji</th><td></td></tr>
      </tbody>
    </q-markup-table>
  </PageSection>
</template>
