<script setup>
import AjaxAlert from '../components/AjaxAlert.vue'
import DocsListTable from '../components/DocsListTable.vue'
import PrintDocs from '../components/PrintDocs.vue'
import { useCnvStore } from '../stores/cnv.js'
import { useNavStore } from '../stores/nav.js'
import { computed, onMounted, ref } from 'vue'
import { useMeta } from 'quasar'

useMeta({ title: '🚚 Fabia2 & Rapid2' })
const cnv = useCnvStore()
const nav = useNavStore()

const nadinList = ref([])
const factoryHomologationUrl = 'http://drive.vw-group.pl/admin/homologation/factory-homologation/list-items?vin='
const approvalCertificateUrl = 'http://drive.vw-group.pl/admin/homologation/approval-certificate/list-items?vehicleVin='
const customVin = ref('')

const rapidList2016 = computed(() => cnv.rapidList2016)
const rapidList2018 = computed(() => cnv.rapidList2018)
const rapidList2019 = computed(() => cnv.rapidList2019)
const fabiaList = computed(() => cnv.fabiaList)
const scalaList = computed(() => cnv.scalaList)
const ibizaList = computed(() => cnv.ibizaList)
const ajaxErrors = computed(() => cnv.ajaxErrors)

const printedDocumentsList = computed(() => cnv.printedDocumentsList)
const loadStatus = computed(() => cnv.vinLoadStatus)

const tab = computed({
  get () {
    return nav.conversionsTab
  },
  set (value) {
    nav.$patch({ conversionsTab: value })
  }
})
const nadinListNotPrinted = computed(() => {
  return nadinList.value.filter((el) => {
    return printedDocumentsList.value.indexOf(el.chassisNumber) < 0
  })
})

function nadinListToJson(lines) {
  let type, ukr2
  for (const line of lines) {
    if (line) {
      type = line[3]?.substring(0, 2)
      ukr2 = line[5]?.includes('UKR2')
      if (ukr2 && ['NJ', 'NH', 'NW', 'KJ', 'PJ'].includes(type)) {
        nadinList.value.push({
          dealerOwner: line[0],
          commission: line[1],
          chassisNumber: line[2],
          model: line[3],
          options: line[4],
          importerOptions: line[5],
          orderStatus: line[6]
        })
      }
    }
  }
}
function rowStyle(input) {
  return {
    // PL
    'dostarczony do klienta': 'text-negative',
    'dostarczony do dealera': 'text-warning',
    'transport do dealera': 'text-info',
    'dostarczony do importera': 'text-positive',
    'w produkcji': 'text-grey',
    // EN
    'Customer Delivered': 'text-negative',
    'Dealer Arrived': 'text-warning',
    'Dealer Transport': 'text-info',
    'Importer Arrived': 'text-positive',
    'In Production': 'text-grey'
  }[input]
}
function fetchDriveData(vin) {
  cnv.fetchDriveData(vin)
}

onMounted(async () => {
  cnv.fetchPrintedDocsLists(['fabiaList', 'rapidList2016', 'rapidList2018', 'rapidList2019', 'scalaList', 'ibizaList'])
  try {
    const resp = await fetch('/api/dispositions')
    const json = await resp.json()
    nadinListToJson(json)
  } catch(err) {
    cnv.ajaxErrors.push('Nie można załadować danych z systemu NADIN - upewnij się, że w folderze db istnieje plik dispositions.txt')
    console.error(err)
  }
  cnv.fetchModifications()
})
</script>

<template>
  <div>
    <ajax-alert v-if="ajaxErrors.length" :ajax-errors="ajaxErrors" v-cloak />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="due-docs" class="q-pa-none">
        <q-markup-table id="fabia2-table">
          <thead>
            <tr class="text-left">
              <th>Lp.</th>
              <th>Dealer - właściciel</th>
              <th>Komisja</th>
              <th>Numer podwozia</th>
              <th>Model</th>
              <th>Opcje</th>
              <th>Opcje importerskie</th>
              <th>Status zamówienia</th>
              <th>Dane CoC</th>
              <th>Św. zgodn.</th>
              <th>Pobierz</th>
              <!--th>Wydruk</th-->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td colspan="2" class="text-right">Podaj numer nadwozia:</td>
              <td>
                <input v-model.trim="customVin" @change="(customVin=customVin.replace(/^m$/, 'TMBZZZM0CKV1N000' + Math.floor(Math.random() * 10)))">
                <!--q-tooltip target="input">m+enter to insert mock vin</q-tooltip-->
                <!--q-badge color="warning" class="cursor-pointer q-ml-xs" @click="customVin='TMBZZZM0CKV1N0001'">&lt; mock vin</q-badge-->
              </td>
              <td colspan="4">aby wygenerować linki do danych z Drive --></td>
              <td>
                <a :href="factoryHomologationUrl + customVin" target="_blank" v-if="customVin && customVin.length === 17">
                  <q-icon name="open_in_new" size="2rem" color="blue-grey" />
                </a>
              </td>
              <td>
                <a :href="approvalCertificateUrl + customVin" target="_blank" v-if="customVin && customVin.length === 17">
                  <q-icon name="open_in_new" size="2rem" color="blue-grey" />
                </a>
              </td>
              <td>
                <q-btn
                  flat
                  round
                  color="blue-grey"
                  icon="get_app"
                  @click="fetchDriveData(customVin)"
                  v-if="customVin && customVin.length === 17"
                  :loading="loadStatus(customVin) === 'loading'"
                />
                <q-icon name="done" size="2rem" color="green" v-if="loadStatus(customVin) === 'loaded'" />
                <q-icon name="clear" size="2rem" color="red" v-if="loadStatus(customVin) === 'failed'" />
              </td>
              <!--td>
                <router-link :to="'conversions/print/' + customVin" v-if="customVin && customVin.length === 17">
                  <q-icon name="print" size="2rem" color="blue-grey" />
                </router-link>
              </td-->
            </tr>
            <tr v-for="(row, index) in nadinListNotPrinted" :key="index" :class="rowStyle(row.orderStatus)">
              <td>{{ index+1 }}</td>
              <td>{{ row.dealerOwner }}</td>
              <td>{{ row.commission }}</td>
              <td>{{ row.chassisNumber }}</td>
              <td>{{ row.model }}</td>
              <td>{{ row.options }}</td>
              <td>{{ row.importerOptions }}</td>
              <td>{{ row.orderStatus }}</td>
              <td>
                <a :href="factoryHomologationUrl + row.chassisNumber" target="_blank">
                  <q-icon name="open_in_new" size="2rem" color="blue-grey" />
                </a>
              </td>
              <td>
                <a :href="approvalCertificateUrl + row.chassisNumber" target="_blank">
                  <q-icon name="open_in_new" size="2rem" color="blue-grey" />
                </a>
              </td>
              <td>
                <q-btn
                  flat
                  round
                  color="blue-grey"
                  icon="get_app"
                  @click="fetchDriveData(row.chassisNumber)"
                  :loading="loadStatus(row.chassisNumber) === 'loading'"
                />
                <q-icon name="done" size="2rem" color="green" v-if="loadStatus(row.chassisNumber) === 'loaded'" />
                <q-icon name="clear" size="2rem" color="red" v-if="loadStatus(row.chassisNumber) === 'failed'" />
              </td>
              <!--td>
                <router-link :to="'conversions/print/' + row.chassisNumber">
                  <q-icon name="print" size="2rem" color="blue-grey" />
                </router-link>
              </td-->
            </tr>
          </tbody>
        </q-markup-table>
      </q-tab-panel>
      <q-tab-panel name="printed-rapid-2016" class="q-pa-none">
        <docs-list-table :docs-list="rapidList2016" docs-dir="rapid2016"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="printed-rapid-2018" class="q-pa-none">
        <docs-list-table :docs-list="rapidList2018" docs-dir="rapid2018"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="printed-rapid-2019" class="q-pa-none">
        <docs-list-table :docs-list="rapidList2019" docs-dir="rapid2019"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="printed-fabia" class="q-pa-none">
        <docs-list-table :docs-list="fabiaList" docs-dir="fabia"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="printed-scala" class="q-pa-none">
        <docs-list-table :docs-list="scalaList" docs-dir="scala"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="printed-ibiza" class="q-pa-none">
        <docs-list-table :docs-list="ibizaList" docs-dir="ibiza"></docs-list-table>
      </q-tab-panel>
      <q-tab-panel name="print-docs" class="q-pa-none">
        <print-docs></print-docs>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<style scoped>
[v-cloak] {
  display: none;
}
</style>
