
<script setup>
import { computed, onMounted, ref } from 'vue'
import { useMeta } from 'quasar'

useMeta({ title: '🚗 Dealerzy' })

const dealers = ref([])
const dealerName = ref('')
const dealerNumber = ref('')

const dealersFilterable = computed(() => {
  return dealers.value.filter(dealer => {
    return dealer.name.toLowerCase().indexOf(dealerName.value.toLowerCase()) > -1
      && dealer.number.toLowerCase().indexOf(dealerNumber.value.toLowerCase()) > -1
  })
})
onMounted(async () => {
  try {
    const response = await fetch('/api/dealers')
    dealers.value = (await response.json()).data
  } catch (err) {
    console.error(err)
  }
})
</script>

<template>
  <q-markup-table>
    <thead>
      <tr>
        <td>#</td>
        <td><q-input outlined dense v-model="dealerName" placeholder="Nazwa dealera" /></td>
        <td><q-input outlined dense v-model="dealerNumber" placeholder="Numer dealera" /></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="dealer in dealersFilterable" :key="dealer.number">
        <td>{{ dealer['ordinalNumber'] }}</td>
        <td>{{ dealer['name'] }}</td>
        <td>{{ dealer['number'] }}</td>
        <td v-html="dealer['actions']"></td>
      </tr>
    </tbody>
  </q-markup-table>
</template>
