<script setup>
import { useNavStore } from '../stores/nav.js'
import { useMeta } from 'quasar'

useMeta({ title: 'Derive | Index' })

const { menu } = useNavStore()
</script>

<template>
  <div class="row q-pa-sm">
    <div
      class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pa-sm"
      v-for="entry in menu"
      :key="entry.path"
    >
      <q-card class="text-center no-border-radius">
        <q-item :to="entry.path">
          <q-item-section>
            <q-item-label>{{ entry.title }}</q-item-label>
            <q-item-label><q-icon :name="entry.icon" size="10rem" /></q-item-label>
            <q-item-label caption>{{ entry.caption }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
    </div>
    <!--img alt="Quasar logo" src="~assets/nodrive-logo-full.svg"-->
  </div>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>

<style scoped>
.q-card, .q-item {
  height: 100%;
}
</style>
