<script>
import { bodyCodeToBodyName, engineDesc } from '../utils/homologation.js'
import ModelSelect from '../components/ModelSelect.vue'
import PageSection from '../components/PageSection.vue'
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'
import { useMeta } from 'quasar'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'Label',
  components: {
    PageSection, ModelSelect
  },
  computed: {
    versionData: () => tad.variantVersionData,
    xmlId () {
      return nav.selectedXml
    },
    approval () {
      const approvals = tad.approvals
      if (this.xmlId in approvals) {
        return tad.approvals[this.xmlId]
      }
      return {}
    },
    modelDesc () {
      if (this.versionData) {
        const brand = this.versionData['_0.1.FABRIKMARKE']
        const model = this.versionData['_0.2.1.HANDELSNAME']
        const bodyCode = this.versionData['_38.CODE_AUFBAU']
        const bodyName = bodyCodeToBodyName(bodyCode)
        const desc1 = `${brand} ${model} ${bodyName}`
        const desc2 = engineDesc(this.versionData)
        return [desc1, desc2]
      }
      return ['', '']
    },
    type () {
      if ('Kopf' in this.approval) {
        return this.approval.Kopf['_0.2.TYP']
      }
      return '-----'
    },
    variant () {
      return nav.selectedVariant || '-----'
    },
    version () {
      return nav.selectedVersion || '-----'
    },
    fuel () {
      if (this.versionData) {
        const fuel = this.versionData['_26.TX_KRAFTSTOFF'].toLowerCase()
        return {
          benzin: 'benzyna',
          petrol: 'benzyna',
          diesel: 'olej napędowy'
        }[fuel]
      }
      return '-----'
    },
    consumption () {
      if (this.versionData && '_49.VERBRLITERKOMBI' in this.versionData) {
        return [
          `${this.versionData['_49.VERBRLITERINNORT']} l/100 km`.replace('.', ','),
          `${this.versionData['_49.VERBRLITERAUSSORT']} l/100 km`.replace('.', ','),
          `${this.versionData['_49.VERBRLITERKOMBI']} l/100 km`.replace('.', ',')
        ]
      }
      return ['-----', '-----', '-----']
    },
    emission () {
      if (this.versionData && '_49.CO2KOMBIBENZINDIESEL' in this.versionData) {
        return this.versionData['_49.CO2KOMBIBENZINDIESEL'] + ' g/km'
      }
      return '-----'
    }
  },
  setup () {
    useMeta({
      title: 'Etykieta: spalanie i CO₂'
    })
  }
}
</script>

<template>
  <div>
    <ModelSelect class="q-ma-lg" />
    <PageSection header="INFORMACJA O ZUŻYCIU PALIWA I EMISJI CO₂*">
      <h2 class="q-mb-sm">{{ modelDesc[0] }}</h2>
      <h3 class="q-mt-sm">{{ modelDesc[1] }}</h3>
      <table class="text-left">
        <tr><th>Typ:</th><td id="typ">{{ type }}</td></tr>
        <tr><th>Wariant:</th><td id="war">{{ variant }}</td></tr>
        <tr><th>Wersja:</th><td id="wer">{{ version }}</td></tr>
        <tr><th>Rodzaj paliwa:</th><td id="paliwo">{{ fuel }}</td></tr>
      </table>
      <br>
      <table class="text-left">
        <tr><th>Zużycie paliwa**:</th></tr>
        <tr><td>&nbsp;- warunki miejskie:</td><td id="miejskie">{{ consumption[0] }}</td></tr>
        <tr><td>&nbsp;- warunki pozamiejskie:</td><td id="poza">{{ consumption[1] }}</td></tr>
        <tr><td>&nbsp;- wartość uśredniona:</td><td id="mieszane">{{ consumption[2] }}</td></tr>
      </table>
      <br>
      <table>
        <tr><th>Emisja CO<sub>2</sub>**:</th><td id="CO<sub>2</sub>">{{ emission }}</td></tr>
      </table>
      <br>
      <h5 class="text-caption">
        Zestawienie zużycia paliwa i emisji CO<sub>2</sub> zawierające dane wszystkich nowych samochodów osobowych jest dostępne nieodpłatnie w każdym punkcie sprzedaży pojazdów.
      </h5>
      <h5 class="text-caption">
        Poza wielkością zużycia paliwa przez samochód, również zachowanie kierowcy, jak i inne czynniki natury nietechnicznej mają wpływ na poziomy zużycia paliwa i emisji CO<sub>2</sub> przez samochód.
        CO<sub>2</sub> jest głównym gazem cieplarnianym odpowiedzialnym za globalne ocieplenie.
      </h5>
      <h6 class="text-caption">
        *) Informacja niniejsza realizuje wymagania rozporządzenia Ministra Gospodarki i Pracy z dnia 28 grudnia 2004 r. w sprawie produktów objętych obowiązkiem
        zaopatrzenia w informacje istotne z punktu widzenia ochrony środowiska (Dz. U. nr 6, poz. 40) wdrażającego postanowienia dyrektywy 1999/94/WE*2003/73/WE.
      </h6>
      <h6 class="text-caption">
        **) Pomiary zużycia paliwa oraz emisji CO<sub>2</sub> zostały wykonane zgodnie z dyrektywą 80/1268/EWG*2004/3/WE
        lub Rozporządzeniem Parlamentu Europejskiego i Rady 715/2007*692/2008A lub Regulaminem EC 101R-00.
      </h6>
    </PageSection>
  </div>
</template>

<style scoped>
body {
  font-family: sans-serif;
  line-height: 250%;
}
table {
  width: 100%;
  font-size: 150%;
}
th {
    text-align: left;
}
#content {
  line-height: 250%;
}
h4 {
  font-weight: bold;
}
ol {
  font-size: 17px;
}
a#bck-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
#daneSw {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 100%;
}
#daneSw > label {
  padding: 4px;
}
#make-btns {
  margin-top: 2px;
}
</style>
