<script setup>
import BrandDropdown from '../components/Marketing/BrandDropdown.vue'
import ModelsMenu from '../components/Marketing/ModelsMenu.vue'
import EnginesMenu from '../components/Marketing/EnginesMenu.vue'
import TechDataTable from '../components/Marketing/TechDataTable.vue'
import { useMeta } from 'quasar'

useMeta({ title: 'Dane dla marketingu' })
</script>

<style scoped>
* {
  border-radius: 0 !important;
  font-family: SkodaNext;
}
#left {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  min-width: 75%;
  overflow-y: scroll;
}
#right {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 25%;
}
#right, #left, #buttons {
  margin-top: 2rem;
}
</style>

<template>
  <div class="container-fluid" id="homologation-data-app">
    <BrandDropdown />
    <ModelsMenu />
    <div class="col-sm-8" id="left">
      <section id="xml-alert"></section>
      <TechDataTable />
    </div>
    <div class="col-sm-4" id="right">
      <EnginesMenu />
      <hr>
      <ul style="list-style-type: none;">
        <li>* Rozpiętość wartości zależy od obciążenia tylnej osi</li>
        <li>** Rozpiętość wartości wskazanych w poszczególnych polach zestawienia wynika ze sposobu pomiaru oraz wersji wyposażenia pojazdu.</li>
        <li>W celu doprecyzowania wartości dla konkretnej wersji modelu, prosimy o kontakt z zespołem homologacji.</li>
      </ul>
    </div>
  </div>
</template>
