
<script>
import { bodyCodeToBodyName, engineDesc } from '../utils/homologation.js'
import PageSection from '../components/PageSection.vue'
import ModelSelect from '../components/ModelSelect.vue'
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'
import { useMeta } from 'quasar'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'Tenders',
  components: {
    PageSection, ModelSelect
  },
  computed: {
    approval: () => tad.approvalBySelection,
    variant: () => nav.selectedVariant,
    version: () => nav.selectedVersion,
    versionData: () => tad.variantVersionData,
    type () {
      if (this.approval && 'Kopf' in this.approval) {
        return this.approval.Kopf['_0.2.TYP']
      }
      return ''
    },
    approvalNumber () {
      if ('Kopf' in this.approval) {
        return this.approval.Kopf._GENEHMIGUNGSNR
      }
      return ''
    },
    approvalDate () {
      if ('Kopf' in this.approval) {
        const dateStr = this.approval.Kopf._GENEHMIGUNGSDAT
        const dateObj = new Date(dateStr)
        return dateObj.toLocaleDateString('pl')
      }
      return ''
    },
    approvalInfo () {
      if (this.type && this.approvalNumber && this.approvalDate) {
        return `dane wg świadectwa homologacji typu ${this.type} nr ${this.approvalNumber} wydanego ${this.approvalDate}`
      }
      return ''
    },
    modelDesc () {
      if (this.versionData) {
        const brand = this.versionData['_0.1.FABRIKMARKE']
        const model = this.versionData['_0.2.1.HANDELSNAME']
        const bodyCode = this.versionData['_38.CODE_AUFBAU']
        const bodyName = bodyCodeToBodyName(bodyCode)
        const engine = engineDesc(this.versionData)
        const result = `${brand} ${model} ${bodyName} ${engine}`
        return result
      }
      return ''
    },
    consumption () {
      if (this.versionData && '_49.VERBRLITERKOMBI' in this.versionData) {
        return `${this.versionData['_49.VERBRLITERKOMBI']}`.replace('.', ',') + ' l/100 km'
      }
      return '-----'
    },
    energy () {
      if (this.versionData && '_49.VERBRLITERKOMBI' in this.versionData) {
        const fuel = this.versionData['_26.TX_KRAFTSTOFF'].toLowerCase()
        const consumption = this.versionData['_49.VERBRLITERKOMBI']
        if (fuel.includes('petrol') || fuel.includes('benzin')) {
          const result = consumption * 0.32
          return `${result.toLocaleString('pl')} MJ/km`
        } else if (fuel.includes('diesel')) {
          const result = consumption * 0.36
          return `${result.toLocaleString('pl')} MJ/km`
        } else {
          alert('Ta warianto-wersja nie jest obecnie obsługiwana!\n\n(Pojazd napędzany paliwem innym niż benzyna lub olej napędowy)')
          return '?????'
        }
      }
      return '-----'
    },
    emission () {
      if (this.versionData && '_49.CO2KOMBIBENZINDIESEL' in this.versionData) {
        return this.versionData['_49.CO2KOMBIBENZINDIESEL'] + ' g/km'
      }
      return '-----'
    },
    nox () {
      if (this.versionData && '_48.PRFTYPINOX' in this.versionData) {
        const result = this.versionData['_48.PRFTYPINOX']
        return `${result} mg/km (${(result / 1000).toFixed(4)} g/km)`.replaceAll('.', ',')
      }
      return '-----'
    },
    particles () {
      if (this.versionData) {
        if ('_48.PRFTYPIPARTIKEL' in this.versionData) {
          const result = this.versionData['_48.PRFTYPIPARTIKEL']
          return `${result} mg/km (${(result / 1000).toFixed(4)} g/km)`.replaceAll('.', ',')
        } else {
          return 'nie dotyczy'
        }
      }
      return '-----'
    },
    nmhc () {
      if (this.versionData) {
        if ('_48.PRFTYPINMHC' in this.versionData) {
          const result = this.versionData['_48.PRFTYPINMHC']
          return `${result} mg/km (${(result / 1000).toFixed(4)} g/km)`.replaceAll('.', ',')
        } else {
          return 'nie dotyczy'
        }
      }
      return '-----'
    }
  },
  setup () {
    useMeta({
      title: 'Dane do przetargu, wersja 4.0'
    })
  }
}
</script>

<template>
  <PageSection>
    <q-btn
      id="bck-btn"
      outline
      no-caps
      size="lg"
      color="blue-grey"
      title="Przejdź do strony głównej"
      label="Menu"
      :to="{ name: 'home' }"
      class="noprint"
    />
    <ModelSelect />
    <h6>
      Zestawienie kryteriów ekologiczno-energetycznych według Rozporządzenia Prezesa Rady Ministrów
      z dnia 10 maja 2011 r. w sprawie innych niż cena obowiązkowych kryteriów oceny ofert
      w odniesieniu do niektórych rodzajów zamówień publicznych (Dz. U. z 2011 r. Nr 96 poz. 559)
    </h6>
    <h4>{{ modelDesc || '----- opis modelu -----' }}</h4>
    <h5>Wariant/wersja: <span>{{ variant || '-----' }} / {{ version || '-----' }}</span></h5>
    <h6><small class="text-caption">{{ approvalInfo }}</small></h6>
    <ol>
      <li>Zużycie paliwa <u>w cyklu łączonym (wartość uśredniona)</u>:
        <b>{{ consumption }}</b>
      </li>
      <li>Zużycie energii:
        <b>{{ energy }}</b>
      </li>
      <li>Emisja dwutlenku węgla <u>w cyklu łączonym (wartość uśredniona)</u>:
        <b>{{ emission }}</b>
      </li>
      <li>Wartości emisji zanieczyszczeń wyrażone w mg/km (g/km):
        <ul>
          <li>tlenków azotu (NO<sub>x</sub>) <b>{{ nox }}</b></li>
          <li>cząstek stałych (PM) <b :class="{'text-italic': particles === 'nie dotyczy'}">{{ particles }}</b></li>
          <li>węglowodorów (NMHC) <b :class="{'text-italic': nmhc === 'nie dotyczy'}">{{ nmhc }}</b></li>
        </ul>
      </li>
    </ol>
  </PageSection>
</template>

<style scoped>
body {
  font-family: sans-serif;
  line-height: 250%;
}
#content {
  line-height: 250%;
}
h4 {
  font-weight: bold;
}
ol {
  font-size: 17px;
}
#bck-btn {
  position: absolute;
  top: 70px;
  right: 20px;
}
#daneSw {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 100%;
}
#daneSw > label {
  padding: 4px;
}
#make-btns {
  margin-top: 2px;
}
#xml-alert {
  margin-top: 50px;
}
</style>
