<script setup>
import PageSection from '../components/PageSection.vue'
import { computed, onMounted, ref } from 'vue'
import { useNavStore } from '../stores/nav.js'
import { useMeta, useQuasar } from 'quasar'

useMeta({ title: '📖 Skrypt do tłmaczeń' })
const nav = useNavStore()
const $q = useQuasar()

let dict = {}
const originalText = ref('')

const keys = computed(() => {
  return Object.keys(dict).sort()
})
const translatedText = computed(() => {
  let result = originalText.value.replace(/\s{2,}/g, ' ').trim()
  for (const key in dict) {
    result = result.replace(new RegExp(reEscape(key), 'gi'), dict[key])
  }
  return result
})
const tab = computed({
  get () {
    return nav.translateTab
  },
  set (value) {
    nav.$patch({ translateTab: value })
  }
})

const input = ref(null)
function copyTranslation() {
  navigator.clipboard.writeText(translatedText.value)
  originalText.value = ''
  input.value.focus()
  $q.notify({
    color: 'green-5',
    textColor: 'white',
    icon: 'fas fa-check-circle',
    message: 'Skopiowano tłumaczenie...',
    timeout: 2000
  })
}
function reEscape(string) {
  return string.replace(/[-/\\^$*+?.()|[\]{}]/g, '\\$&')
}

onMounted(async () => {
  try {
    const resp = await fetch('/api/dict')
    dict = await resp.json()
  } catch(err) {
    console.error(err)
  }
})
</script>

<template>
  <q-tab-panels v-model="tab" animated>
    <q-tab-panel name="translator">
      <PageSection header="Wklej poniżej oryginalny tekst i wciśnij Enter">
        <q-input type="textarea" v-model="originalText" ref="input" @keyup.enter="copyTranslation" autofocus />
        <q-input type="textarea" v-model="translatedText" readonly />
        <q-btn color="blue-grey" class="full-width q-mt-md" @click="copyTranslation" title="Kliknij lub wciśnij 'Enter'">Kopiuj</q-btn>
      </PageSection>
    </q-tab-panel>

    <q-tab-panel name="dictionary" class="bg-blue-grey-2">
      <PageSection header="Słownik">
        <q-markup-table>
          <thead>
            <tr><th>#</th><th>oryg.</th><!--th>wyr.reg.</th--><th>tłum.</th></tr>
          </thead>
          <tbody>
            <tr v-for="(key, index) in keys" :key="key">
              <td>{{ index+1 }}</td><td>{{ key }}</td><!--td>{{ reEscape(key) }}</td--><td>{{ dict[key] }}</td>
            </tr>
          </tbody>
        </q-markup-table>
      </PageSection>
    </q-tab-panel>

    <q-tab-panel name="dict" class="bg-blue-grey-2">
      <PageSection header="Obiekt JSON">
        <q-card class="q-pa-xl">
          <pre>{{ dict }}</pre>
        </q-card>
      </PageSection>
    </q-tab-panel>
  </q-tab-panels>
</template>
