<script setup>
import TypeRow from '../components/TypeRow.vue'
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'
import { computed, reactive } from 'vue'
import { useMeta } from 'quasar'

const title = 'Tabela typów homologacyjnych'
useMeta({ title })
const nav = useNavStore()
const tad = useTadStore()

const pagination = { rowsPerPage: 15 }

const columns = [
  {
    name: 'brand',
    align: 'left',
    label: 'Marka',
    field: 'brand',
    sortable: true
  }, {
    name: 'type',
    align: 'left',
    label: 'Typ',
    field: 'value',
    sortable: true
  }, {
    name: 'model',
    align: 'left',
    label: 'Model',
    field: 'label',
    sortable: true
  }, {
    name: 'model2',
    align: 'left',
    label: 'Model potw.',
    field: 'model2',
    sortable: true
  }, {
    name: 'approval',
    align: 'left',
    label: 'Świadectwo',
    field: 'approval',
    sortable: true
  }, {
    name: 'date',
    align: 'left',
    label: 'Data',
    field: 'date',
    sortable: true
  }, {
    name: 'actions',
    align: 'center', // not working
    label: 'Akcje',
    field: null,
    sortable: false
  }
]
const filters = reactive({
  type: '',
  model: '',
  model2: '',
  approval: '',
  date: ''
})

const types = tad.types
const brands = tad.brands
const selectedBrand = computed(() => nav.selectedBrand)

const selectedBrandCode = computed({
  get () {
    return selectedBrand.value.value
  },
  set (value) {
    const brand = brands.find(b => {
      return b.value === value
    })
    nav.selectBrand(brand)
  }
})
const typesTable = computed(() => {
  return types.map(el => {
    return {
      brand: el.brand,
      type: el.value,
      model: el.label,
      model2: '',
      approval: '',
      date: ''
    }
  })
})
const brandCodes = computed(() => {
  return types.map(el => {
    return el.brand
  }).filter((el, index, result) => {
    return result.indexOf(el) === index
  })
})
const typesFilterable = computed(() => {
  return typesTable.value.filter(el => {
    return (
      (selectedBrandCode.value ? el.brand === selectedBrandCode.value : true) &&
      el.type.toLowerCase().includes(filters.type.toLowerCase()) &&
      el.model.toLowerCase().includes(filters.model.toLowerCase()) &&
      el.model2.toLowerCase().includes(filters.model2.toLowerCase()) &&
      el.approval.toLowerCase().includes(filters.approval.toLowerCase())
    )
  })
})

function clearFilters() {
  for (const key in filters) {
    filters[key] = ''
  }
  nav.selectBrand({})
}
</script>

<template>
  <q-table
    :title="title"
    :rows="typesFilterable"
    :columns="columns"
    row-key="type"
    :pagination="pagination"
    rows-per-page-label="Typów na stronie:"
    no-data-label="Brak danych"
  >
    <template v-slot:top-row>
      <q-tr>
        <q-td>
          <q-select dense outlined v-model="selectedBrandCode" :options="brandCodes" />
        </q-td>
        <q-td>
          <q-input dense outlined v-model="filters.type" />
        </q-td>
        <q-td>
          <q-input dense outlined v-model="filters.model" />
        </q-td>
        <q-td>
          <q-input dense outlined v-model="filters.model2" />
        </q-td>
        <q-td>
          <q-input dense outlined v-model="filters.approval" />
        </q-td>
        <q-td>
          <q-input dense outlined v-model="filters.date" type="date" />
        </q-td>
        <q-td align="center">
          <q-btn color="blue-grey" @click="clearFilters" icon="clear" title="Usuń filtry" />
        </q-td>
      </q-tr>
    </template>
    <template v-slot:body="props">
      <TypeRow :props="props" />
    </template>
  </q-table>
</template>

<style scoped>
#xml-alert {
  margin-top: 50px;
  line-height: 2rem;
}
.loading {
  font-style: italic;
  opacity: 0.2;
}
.card {
  margin-right: 2rem;
  padding: 3rem 5rem;
}
.form-check {
  margin-bottom: 1rem;
}
</style>
