<script>
import BrandToggle from '../components/BrandToggle.vue'
import ViewerTable from '../components/ViewerTable.vue'
import ApprovalInfoBox from '../components/ApprovalInfoBox.vue'
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'
import { useMeta } from 'quasar'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'Viewer',
  components: {
    BrandToggle, ViewerTable, ApprovalInfoBox
  },
  data () {
    return {
      load: false,
      approvalInfo: null
    }
  },
  computed: {
    types: () => tad.types,
    selectedBrand: () => nav.selectedBrand,
    selectedType: () => nav.selectedType
  },
  methods: {
    selectType (type) {
      this.load = true
      nav.$patch({ selectedType: type })
      this.loadXml(this.selectedBrand.value, type.value)
    },
    loadXml (brandCode, typeCode) {
      const xmlFile = `${brandCode}_${typeCode}`
      tad.fetchApproval(xmlFile).then(() => {
        this.load = false
      })
    }
  },
  setup () {
    useMeta({
      title: 'Przeglądarka danych typu'
    })
  }
}
</script>

<template>
  <div>

    <ApprovalInfoBox :klass="klass" :approval-info="approvalInfo" v-if="approvalInfo" />

    <q-btn
      id="bck-btn"
      outline
      no-caps
      size="lg"
      color="blue-grey"
      title="Przejdź do strony głównej"
      label="Menu"
      :to="{ name: 'home' }"
    />

    <div class="row top-buffer">
      <div class="col-sm-8 offset-sm-2">
        <BrandToggle size="lg" :spread="true" />
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-10 offset-md-1">
        <q-btn-group outline class="btn-group-justified">
          <q-btn
            v-for="typ in types.filter(typ => typ.brand === selectedBrand.value)"
            :key="typ.value"
            :outline="typ.value !== selectedType.value"
            no-caps
            no-wrap
            size="md"
            :color="selectedBrand.color"
            :label="typ.label"
            @click="selectType(typ)"
          />
        </q-btn-group>
      </div>
    </div>

    <div class="top-buffer">

      <section id="xml-alert"></section>

      <ViewerTable :load="load" />

    </div>

  </div>
</template>

<style scoped>
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: ddd;
}
.top-buffer {
  margin-top: 20px;
}
#bck-btn {
  position: absolute;
  top: 70px;
  right: 20px;
}
#xml-alert {
  line-height: 2em;
}
.btn-group-justified {
  display: flex;
}
.btn-group-justified .q-btn {
  flex-grow: 1;
}
</style>
