<script setup>
import yearCodeMapping from '../utils/model-year-mapping.js'
import PageSection from '../components/PageSection.vue'
import { useMeta, useQuasar } from 'quasar'
import { computed, ref } from 'vue'

useMeta({ title: 'VIN' })
const $q = useQuasar()

const vin = ref('')
const period = ref(2)

const yearChar = computed(() => {
  if (vin.value.length > 8) {
    return vin.value.charAt(9).toUpperCase()
  }
  return ''
})
const year = computed(() => {
  if (yearChar.value) {
    return yearCodeMapping[period.value][yearChar.value]
  }
  return ''
})
const error = computed(() => {
  if (yearChar.value && Object.keys(yearCodeMapping[period.value]).indexOf(yearChar.value) < 0) {
    return `Błędny VIN: znak "${yearChar.value}" nie może występować na 10-tej pozycji`
  }
  return ''
})
const brandCode = computed(() => {
  if (vin.value.length > 2) {
    return {
      TM: 'SK',
      VS: 'SE',
      WV: 'VW',
      WA: 'AU'
    }[vin.value.substring(0, 2)]
  } else {
    return undefined
  }
})
const hitchNumber = computed(() => {
  if (vin.value.length >= 0 && brandCode.value) {
    return {
      SK: {
        NP: 'E8 55R-01 55644',
        NU: 'E1 55R-01 2696',
        NS: 'E1 55R-01 2601',
        '5L': 'E13 55R-01 2494',
        NE: 'E8 55R-01 2101',
        NJ: 'E8 55R-01 55639',
        NH: 'E8 55R-01 2101'
      },
      SE: {
        '5F': 'E9-55R-01.1057',
        '7N': 'e1 00-1890'
      },
      VW: {
        '3C': 'AA: E1 55R-012284 / AC: E1 55R-012313',
        '5N': 'E13 55R-01 4021',
        '7H': 'e13 00-0983',
        '2H': 'E13 55R-01 3398/3399/3558',
        '1T': 'E1 55R-012180',
        AU: 'E1 55R-012109'
      },
      AU: {
        '4G': `E1 55R-011945
E1 55R-011946
e1*94/20*1945
e1*94/20*1946`
      }
    }[brandCode.value][vin.value.substring(6, 8)]
  } else {
    return undefined
  }
})
const hitchText = computed(() => {
  const baseText = 'Samochód został fabrycznie wyposażony w urządzenie sprzęgające do połączenia z przyczepą.'
  if (hitchNumber.value) {
    return baseText + ' Znak homologacji urządzenia do ciągnięcia: ' + hitchNumber.value
  } else {
    return baseText
  }
})

function copyHitchText () {
  navigator.clipboard.writeText(hitchText.value)
  $q.notify({
    color: 'green-5',
    textColor: 'white',
    icon: 'fas fa-check-circle',
    message: 'Skopiowano tekst haka...',
    position: 'top',
    timeout: 2000
  })
}
</script>

<template>
  <PageSection header="Rozkodowanie numeru identyfikacyjnego wehikułu">

    <div class="row text-center">

      <section class="col-10 offset-1">
        <q-form>
          <div class="row flex-center">
            <q-input
              v-model="vin"
              maxlength="17"
              placeholder="VIN"
              color="blue-grey"
              class="col-shrink text-h5"
              input-class="text-blue-grey"
              autofocus
              @keyup.enter="copyHitchText"
            />
          </div>
          <small id="error">{{ error }}</small>
          <q-input type="textarea" v-model="hitchText" autogrow readonly>
            <template v-slot:after>
              <q-btn
                round
                dense
                flat
                icon="file_copy"
                title="skopiuj"
                @click="copyHitchText"
              />
            </template>
          </q-input>
        </q-form>
      </section>

      <q-card class="jumbotron col-6 offset-3 bg-blue-grey-1">
        <q-btn-toggle
          id="buttons"
          v-model="period"
          color="blue-grey-2"
          toggle-color="blue-grey"
          :options="[
            { label: 'STARE', value: 1 },
            { label: 'WSPÓŁCZESNE', value: 2 },
            { label: 'Z PRZYSZŁOŚCI', value: 3 }
          ]"
        />
        <div id="year">{{ year }}</div>
      </q-card>

    </div>

  </PageSection>
</template>

<style scoped>
.jumbotron {
  padding: 5rem;
  margin-top: 5rem;
  height: 30rem;
}
#year {
  font-size: 10rem;
  line-height: 17rem;
}
#error {
  color: red;
}
</style>
