@font-face {
  font-family: "VWAGTheSans";
  src: url("../../fonts/VWAGTheSans-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VWAGTheSans";
  src: url("../../fonts/VWAGTheSans-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "VWAGTheSans";
  src: url("../../fonts/VWAGTheSans-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "VWAGTheSans";
  src: url("../../fonts/VWAGTheSans-Light.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "SkodaPro";
  src: url("../../fonts/SkodaPro_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SkodaPro";
  src: url("../../fonts/SkodaPro_MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SkodaPro";
  src: url("../../fonts/SkodaPro_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SkodaPro";
  src: url("../../fonts/SkodaPro_BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SkodaNext";
  src: url("../../fonts/SKODANext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SkodaNext";
  src: url("../../fonts/SKODANext-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SkodaNext";
  src: url("../../fonts/SKODANext-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SkodaNext";
  src: url("../../fonts/SKODANext-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "SeatMeta";
  src: url("../../fonts/SeatMeta_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SeatMeta";
  src: url("../../fonts/SeatMeta_RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SeatMeta";
  src: url("../../fonts/SeatMeta_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SeatMeta";
  src: url("../../fonts/SeatMeta_BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@media print {
  .noprint {
    display: none !important;
  }
}

body {
  font-family: VWAGTheSans;
}

a {
  text-decoration: none;
}
