<template>
  <div class="alert alert-danger" role="alert">
    Lista błędów:
    <ul>
      <li v-for="error in ajaxErrors" :key="error">{{ error }}</li>
    </ul>
    Możliwe rozwiązania:
    <ul>
      <li>Wyłącz w przeglądarce zabezpieczenie przed Cross-Origin Resource Sharing (CORS)</li>
      <li>Uruchom lokalny server i otwieraj aplikację używając protokołu HTTP</li>
      <li><b>Użyj przeglądarki <a href="https://www.mozilla.org/pl/firefox/new/?scene=2" target="_blank">Mozilla Firefox</a></b></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AjaxAlert',
  props: ['ajaxErrors']
}
</script>
