<template>
  <div class="card" :class="klass" id="approval-info">
    <b>{{ approvalInfo.brand + ' ' + approvalInfo.model }}</b> (typ <b>{{ approvalInfo.type }}</b>):
    <br>świadectwo nr <b>{{ approvalInfo.number }}</b><br> z dnia <b>{{ approvalInfo.date }}</b>
  </div>
</template>

<script>
export default {
  name: 'ApprovalInfoBox',
  props: ['approvalInfo', 'klass']
}
</script>

<style scoped>
#approval-info {
  float: left;
  position: absolute;
  top: 60px;
  left: 10px;
}
.card {
  display: inline-block !important;
}
</style>
