<template>
  <section id="coc" v-if="data" class="fit">
    <div class="row">
      <div class="col">
        <q-markup-table dense class="fit">
          <tbody>
            <tr><td>48.1.</td><td>Współczynnik absorpcji uwzględniający dymienie [m<sup>-1</sup>]:</td><td></td></tr>
            <tr><td>48.2.</td><td colspan="2">Deklarowane maksymalne wartości RDE (w stosownych przypadkach)</td></tr>
            <tr><td></td><td><br>Całkowity przejazd w badaniu RDE:<br>Miejska część przejazdu w badaniu RDE:</td><td>NO<sub>x</sub> [mg/km] / cząstki stałe (liczba) [x/km]</td></tr>
            <tr><td>49.</td><td>Emisja CO<sub>2</sub>/zużycie paliwa/zużycie energii elektrycznej:</td><td></td></tr>
            <tr><td></td><td colspan="2">1. układy napędowe z wyjątkiem pojazdów elektrycznych (w stosownym przypadku)</td></tr>
            <tr><td></td><td>Wartośc NEDC</td><td>Emisja CO<sub>2</sub> [g/km] / zużycie paliwa [l/100 km]</td></tr>
            <tr><td></td><td>Warunki miejskie:<br>Warunki pozamiejskie:<br>Cykl mieszany:<br>Wartość ważona, cykl mieszany<br>Współczynnik odchylenia (w stosownych przypadkach)<br>Współczynnik weryfikacji (w stosownych przypadkach)</td><td></td></tr>
            <tr><td></td><td colspan="2">2. Pojazdy elektryczne i pojazdy hybrydowe z napędem elektrycznym OVC (w stosownych przypadkach)</td></tr>
            <tr><td></td><td colspan="2">Zużycie energii elektrycznej (wartość ważona, cykl mieszany) [Wh/km]</td></tr>
            <tr><td></td><td colspan="2">Zasięg pojazdu przy zasilaniu energią elektryczną [km]:</td></tr>
            <tr><td></td><td colspan="2">3. Pojazd wyposażony w ekoinnowację(-e):</td></tr>
            <tr><td></td><td colspan="2">3.1. Kod ogólny ekoinnowacji:</td></tr>
            <tr><td></td><td colspan="2">3.2. Całkowite ograniczenie emisji CO2 w wyniku zastosowania ekoinnowacji [g/km]</td></tr>
            <tr><td></td><td>3.2.1. Ograniczenie w cyklu NEDC:</td><td>3.2.2. Ograniczenie w cyklu WLTP:</td></tr>
            <tr><td></td><td>Diesel/Benzyna:<br>LPG/CNG:<br>Pozostałe:<br></td><td>Diesel/Benzyna:<br>LPG/CNG:<br>Pozostałe:<br></td></tr>
            <tr><td></td><td colspan="2">4. Wszystkie układy napędowe, z wyjątkiem pojazdów elektrycznych, na mocy rozporządzenia (UE) 2017/1151</td></tr>
            <tr><td></td><td>Wartości WLTP</td><td>Emisje CO<sub>2</sub> [g/km] / Zużycie paliwa [l/100 km] lub [m<sup>3</sup>/100 km] lub [kg/100 km]</td></tr>
            <tr><td></td><td>Niskie:<br>Średnie:<br>Wysokie:<br>Bardzo wysokie:<br>Cykl mieszany:<br>Wartość ważona, cykl mieszany:</td><td></td></tr>
            <tr><td></td><td colspan="2">5. Pojazdy elektryczne i pojazdy hybrydowe z napędem elektrycznym OVC, na mocy rozporządzenia (UE) 2017/1151</td></tr>
            <tr><td></td><td>5.1. Pojazdy elektryczne</td><td>5.2. Pojazdy hybrydowe z napędem elektrycznym OVC</td></tr>
            <tr><td></td><td>Zużycie energii elektrycznej [Wh/km]:<br>Zasięg przy zasilaniu energią elektryczną [km]:<br>Zasięg przy zasilaniu energią elektryczną w mieście [km]:<br></td><td>Zużycie energii elektrycznej (ECAC,weighted) [Wh/km]:<br>Zasięg przy zasilaniu energią elektryczną (EAR) [km]:<br>Zasięg przy zasilaniu energią elektryczną w mieście (EAER city) [km]:</td></tr>
            <tr><td>50.</td><td colspan="2">Homologacja typu pojazdu zgodnie z wymogami projektowymi dotyczącymi przewozu towarów niebezpiecznych:</td></tr>
            <tr><td>51.</td><td colspan="2">W przypadku pojazdów specjalnych - oznaczenie  zgodnie z załącznikiem II sekcja 5: </td></tr>
            <tr><td>52.</td><td>Uwagi</td><td></td></tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="col">
        <q-markup-table dense class="fit">
          <thead>
            <tr>
              <th colspan="3" style="border:none">VOLKSWAGEN GROUP POLSKA<br>
              <small>POJAZDY SKOMPLETOWANE</small></th>
            </tr>
            <tr>
              <th colspan="3" style="border:none">ŚWIADECTWO ZGODNOŚCI WE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" style="border:none">Niżej podpisany {{ data.user }} niniejszym zaświadcza, że pojazd:</td>
            </tr>
            <tr>
              <td>0.1.</td>
              <td>Marka (nazwa handlowa producenta):</td>
              <td>{{ data.brandName }}</td>
            </tr>
            <tr>
              <td>0.2.</td>
              <td>Typ:</td>
              <td>{{ data.vehicleType2ndStage }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Wariant:</td>
              <td>{{ data.variant2ndStage }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Wersja:</td>
              <td>{{ data.version2ndStage }}</td>
            </tr>
            <tr>
              <td>0.2.1.</td>
              <td>Nazwa handlowa:</td>
              <td>{{ data.tradeName2ndStage }}</td>
            </tr>
            <tr>
              <td>0.2.2.</td>
              <td colspan="2">W przypadku pojazdów homologowanych wielostopniowo,<br>
              informacje dotyczące homologacji typu pojazdu podstawowego:</td>
            </tr>
            <tr>
              <td></td>
              <td>Typ:</td>
              <td>{{ data.vehicleType }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Wariant:</td>
              <td>{{ data.variant }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Wersja:</td>
              <td>{{ data.version }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Numer homologacji typu, numer rozszerzenia:</td>
              <td>{{ data.homologationNumber }}</td>
            </tr>
            <tr>
              <td>0.2.3.</td>
              <td>Identyfikatory (w stosownych przypadkach)</td>
              <td></td>
            </tr>
            <tr>
              <td>0.2.3.1.</td>
              <td>Identyfikator rodziny interpolacji:</td>
              <td>{{ data.familyInterpolationIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.2.</td>
              <td>Identyfikator rodziny ATCT:</td>
              <td>{{ data.familyAtctIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.3.</td>
              <td>Identyfikator rodziny PEMS:</td>
              <td>{{ data.familyPemsIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.4.</td>
              <td>Identyfikator rodziny obciążenia drogowego:</td>
              <td>{{ data.familyRoadloadIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.5.</td>
              <td>Identyfikator rodziny macierzy obciążenia drogowego (w stosownych przypadkach):</td>
              <td>{{ data.familyRoadloadMatrixIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.6.</td>
              <td>Identyfikator rodziny okresowej regeneracji:</td>
              <td>{{ data.familyPeriodicRegenerationIdentifier }}</td>
            </tr>
            <tr>
              <td>0.2.3.7.</td>
              <td>Identyfikator rodziny badania emisji par:</td>
              <td>{{ data.familyEvaporativeTestIdentifier }}</td>
            </tr>
            <tr>
              <td>0.4.</td>
              <td>Kategoria pojazdu:</td>
              <td>N1</td>
            </tr>
            <tr>
              <td>0.5.</td>
              <td>Nazwa przedsiębiorstwa i adres producenta:</td>
              <td>Volkswagen Group Polska Sp. z o.o.<br>ul. Krańcowa 44, 61-037 Poznań</td>
            </tr>
            <tr>
              <td>0.5.1.</td>
              <td>W przypadku pojazdów homologowanych wielostopniowo,<br>nazwa przedsiębiorstwa i adres producenta pojazdu podstawowego:</td>
              <td>SKODA AUTO a.s.<br>
              Tr. Vaclava Klementa 869<br>
              293 60 Mlada Boleslav<br>
              CZ</td>
            </tr>
            <tr>
              <td>0.6.</td>
              <td>Umiejscowienie i sposób umieszczenia tabliczek znamionowych:</td>
              <td>przyklejona na słupku 'B'</td>
            </tr>
            <tr>
              <td></td>
              <td>Umiejscowienie numeru identyfikacyjnego pojazdu:</td>
              <td>w komorze silnika po prawej</td>
            </tr>
            <tr>
              <td>0.10.</td>
              <td>Numer identyfikacyjny pojazdu:</td>
              <td>{{ data.vin }}</td>
            </tr>
            <tr>
              <td></td>
              <td>a) został skompletowany i zmieniony w następujący sposób:</td>
              <td>przystosowanie do przewozu ładunków,<br>zmiana liczby miejsc z {{ data.seatsAmount }} na 2</td>
            </tr>
            <tr>
              <td>oraz</td>
              <td colspan="2">b) odpowiada pod każdym względem typowi opisanemu w homologacji {{ data.homologationNumber2ndStage }} wydanej dnia {{ data.homologationDate2ndStage }}</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2">c) może być zarejestrowany na stałe w państwach członkowskich o ruchu prawostronnym<br>stosujących jednostki metryczne w prędkościomierzach oraz jednostki metryczne w drogomierzach</td>
            </tr>
            <tr>
              <td>Poznań,</td>
              <td style="line-height:70px;color:white">______________________</td>
              <td class="text-right">{{ data.date }}</td>
            </tr>
            <tr>
              <td class="text-center text-secondary" colspan="3">Nr komisji: {{ data.commissionNumber }} | Nr dealera: {{ data.dealerNumber }}</td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <q-markup-table dense class="fit">
          <tbody>
            <tr><td>1.</td><td>Liczba osi oraz kół:</td><td></td></tr>
            <tr><td>1.1.</td><td>Liczba i położenie osi z kołami bliźniaczymi:</td><td></td></tr>
            <tr><td>3.</td><td>Osie napędzane (liczba, pozycja, współpraca):</td><td></td></tr>
            <tr><td>4.</td><td>Rozstaw osi [mm]:</td><td></td></tr>
            <tr><td>4.1.</td><td>Odstęp między osiami: 1-2 [mm]:</td><td></td></tr>
            <tr><td>5.</td><td>Długość [mm]:</td><td></td></tr>
            <tr><td>6.</td><td>Szerokość [mm]:</td><td></td></tr>
            <tr><td>7.</td><td>Wysokość [mm]:</td><td></td></tr>
            <tr><td>8.</td><td>Wysunięcie siodła pojazdu ciągnącego naczepę (maksymalne i minimalne) [mm]:</td><td></td></tr>
            <tr><td>9.</td><td>Odległość między przednim obrysem pojazdu a środkiem urządzenia sprzęgającego [mm]:</td><td></td></tr>
            <tr><td>11.</td><td>Długość przestrzeni ładunkowej[mm]:</td><td><strong>{{ data.loadingSurfaceLength2ndStage }}</strong></td></tr>
            <tr><td>13.</td><td>Masa pojazdu gotowego do jazdy [kg]:</td><td><strong>{{ data.runningOrderVehicleMinimumMass2ndStage }}</strong></td></tr>
            <tr><td>13.1.</td><td>Rozkład tej masy na osie (1./2.)  [kg]: </td><td></td></tr>
            <tr><td>13.2.</td><td>Rzeczywista masa pojazdu [kg]:</td><td><strong>{{ data.actualWeight2ndStage }}</strong></td></tr>
            <tr><td>16.</td><td>Technicznie dopuszczalne masy maksymalne pojazdu</td><td></td></tr>
            <tr><td>16.1.</td><td>Technicznie dopuszczalna maksymalna masa całkowita pojazdu [kg]:</td><td></td></tr>
            <tr><td>16.2.</td><td>Technicznie dopuszczalna masa przypadająca na każdą z osi [kg] 1./2.:</td><td></td></tr>
            <tr><td>16.4.</td><td>Technicznie dopuszczalna maksymalna masa zespołu  pojazdów [kg]:</td><td></td></tr>
            <tr><td>18.</td><td>Technicznie dopuszczalna maksymalna masa ciągnięta przez pojazd w przypadku:</td><td></td></tr>
            <tr><td>18.1.</td><td>przyczepy z wózkiem skrętnym [kg]:</td><td></td></tr>
            <tr><td>18.3.</td><td>przyczepy z osią centralną [kg]:</td><td></td></tr>
            <tr><td>18.4.</td><td>przyczepy bez hamulca [kg]:</td><td></td></tr>
            <tr><td>19.</td><td>Technicznie dopuszczalne maksymalne obciążenie pionowe statyczne w punkcie sprzęgu [kg]:</td><td></td></tr>
            <tr><td>20.</td><td>Producent silnika:</td><td></td></tr>
            <tr><td>21.</td><td>Kod fabryczny silnika oznaczony na silniku:</td><td></td></tr>
            <tr><td>22.</td><td>Zasada działania:</td><td></td></tr>
            <tr><td>23.</td><td>Elektryczny:</td><td></td></tr>
            <tr><td>23.1.</td><td>Klasa pojazdu hybrydowego [elektrycznego]:</td><td></td></tr>
            <tr><td>24.</td><td>Liczba i układ cylindrów:</td><td></td></tr>
            <tr><td>25.</td><td>Pojemność skokowa silnika [cm<sup>3</sup>]:</td><td></td></tr>
            <tr><td>26.</td><td>Paliwo:</td><td></td></tr>
            <tr><td>26.1.</td><td>Jednopaliwowy/dwupaliwowy (bi fuel/dual-fuel)/flex fuel:</td><td></td></tr>
            <tr><td>26.2.</td><td>(Tylko dual-fuel) typ 1A/typ 1B/typ 2A/typ 2B/typ 3B</td><td></td></tr>
            <tr><td>27.</td><td>Moc maksymalna</td><td></td></tr>
            <tr><td>27.1.</td><td>Maksymalna moc netto [kW] / (silnik wewn. spalania)</td><td></td></tr>
            <tr><td>27.2.</td><td>Maksymalna moc godzinowa [kW] (silnik elektryczny)</td><td></td></tr>
            <tr><td>27.3.</td><td>Maksymalna moc netto [kW] (silnik elektryczny)</td><td></td></tr>
            <tr><td>27.4.</td><td>Maksymalna moc uzyskiwana przez 30 minut [kW] (silnik elektryczny)</td><td></td></tr>
            <tr><td>28.</td><td colspan="2">Skrzynia biegów (rodzaj):<br><span style="word-spacing:40px">bieg: 1 2 3 4 5 6 7 8 wsteczny</span></td></tr>
            <tr><td>28.1.</td><td>Przełożenia skrzyni biegów:</td><td></td></tr>
            <tr><td>28.1.1.</td><td>Przełożenie przekładni głównej (w stosownych przypadkach):</td><td></td></tr>
            <tr><td>28.1.2.</td><td>Przełożenia przekładni głównej (całkowite):</td><td></td></tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="col">
        <q-markup-table dense class="fit">
          <tbody>
            <tr><td>29.</td><td>Prędkość maksymalna [km/h]:</td><td></td></tr>
            <tr><td>30.</td><td>Rozstaw kół osi 1. / 2. [mm]:</td><td></td></tr>
            <tr><td>35.</td><td>Zamontowany zespół opona/koło / klasa efektywności energetycznej współczynników oporu<br>toczenia (RRC) i kategoria opon zastosowana do określenia CO<sub>2</sub> (w stosownych przypadkach):</td><td>oś&nbsp;1:<br>oś&nbsp;2:</td></tr>
            <tr><td>36.</td><td>Połączenia z hamulcami przyczepy:</td><td></td></tr>
            <tr><td>37</td><td>Ciśnienie w przewodzie zasilającym układ hamulcowy przyczepy [bar]:</td><td></td></tr>
            <tr><td>38.</td><td>Kod nadwozia:</td><td><strong>{{ 'BB VAN' }}</strong></td></tr>
            <tr><td>40.</td><td>Kolor pojazdu:</td><td></td></tr>
            <tr><td>41.</td><td>Liczba i rozmieszczenie drzwi:</td><td></td></tr>
            <tr><td>42.</td><td>Liczba miejsc siedzących (w tym miejsce kierowcy):</td><td><strong>{{ '2 (2 z przodu)' }}</strong></td></tr>
            <tr><td>44.</td><td>Numer homologacji lub znak homologacji urządzenia sprzęgającego<br>(jeżeli jest zamontowane):</td><td></td></tr>
            <tr><td>45.1.</td><td>Wartości charakterystyczne  (D/V/S/U):</td><td></td></tr>
            <tr><td>46.</td><td>Poziom hałasu<br>Podczas postoju [dB(A)]:<br>przy prędkości obrotowej  silnika [min-1]:<br>Podczas jazdy [dB(A)]:</td><td></td></tr>
            <tr><td>47.</td><td>Poziom emisji spalin:</td><td>Euro</td></tr>
            <tr><td>47.1.</td><td>Parametry do celów badania emisji V<sub>ind</sub></td><td></td></tr>
            <tr><td>47.1.1.</td><td>Masa próbna [kg]:</td><td></td></tr>
            <tr><td>47.1.2.</td><td>Powierzchnia czołowa [m<sup>2</sup>]</td><td></td></tr>
            <tr><td>47.1.3.</td><td>Współczynniki obciążenia drogowego</td><td></td></tr>
            <tr><td>47.1.3.0.</td><td>f<sub>0</sub> [N]:</td><td></td></tr>
            <tr><td>47.1.3.1.</td><td>f<sub>1</sub> [N/(km/h)]:</td><td></td></tr>
            <tr><td>47.1.3.2.</td><td>f<sub>2</sub> [N/(km/h)<sup>2</sup>]:</td><td></td></tr>
            <tr><td>47.2</td><td>Cykl jazdy:</td><td></td></tr>
            <tr><td>47.2.1</td><td>Klasa cyklu jazdy:</td><td></td></tr>
            <tr><td>47.2.2</td><td>Współczynnik zmniejszenia (f<sub>dsc</sub>):</td><td></td></tr>
            <tr><td>47.2.3</td><td>Prędkość graniczna:</td><td></td></tr>
            <tr><td>48.</td><td>Emisje spalin: Numer bazowego aktu prawnego i ostatniego<br>zmieniającego aktu prawnego mającego zastosowanie:</td><td></td></tr>
            <tr><td>1.2.</td><td>Procedura badania: Typ I (wartości średnie NEDC, wartości<br>najwyższe WLTP) [mg/km] / WHSC (EURO VI) [mg/kWh]</td><td style="word-spacing:15px">benzyna/ON gaz inne</td></tr>
            <tr><td></td><td>CO [mg/km]:<br>THC [mg/km]:<br>NMHC [mg/km]:<br>NO<sub>x</sub> [mg/km]:<br>THC+NO<sub>x</sub> [mg/km]:<br>NH<sub>3</sub> [ppm]:<br>cząstki stałe (masa) [mg/km]:<br>cząstki stałe (liczba):<br>wykładnik liczby cząstek:</td><td></td></tr>
            <tr><td>2.2</td><td>Procedura badania:  WHTC (EURO VI) [mg/kWh]</td><td></td></tr>
            <tr><td></td><td>CO [mg/kWh]:<br>NO<sub>x</sub> [mg/kWh]:<br>NMHC [mg/kWh]:<br>THC [mg/kWh]:<br>CH<sub>4</sub> [mg/kWh]:<br>cz. stałe [mg/kWh]:</td><td></td></tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['driveDataJson'],
  computed: {
    data () {
      return this.driveDataJson
    }
  }
}
</script>
