<script>
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'BrandToggle',
  props: ['size', 'spread'],
  computed: {
    brands: () => tad.brands,
    selectedBrand: () => nav.selectedBrand
  },
  methods: {
    selectBrand (brand) {
      nav.selectBrand(brand)
    }
  }
}
</script>

<template>
  <q-btn-group outline :spread="spread">
    <q-btn
      v-for="brand in brands"
      :key="brand.value"
      :outline="brand.value !== selectedBrand.value"
      no-caps
      :size="size"
      :color="brand.color"
      :label="brand.label"
      @click="selectBrand(brand)"
    />
  </q-btn-group>
</template>
