
<script setup>
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'
import { computed } from 'vue'

const nav = useNavStore()
const tad = useTadStore()

const brands = tad.brands
const selectedBrand = computed(() => nav.selectedBrand)

function selectBrand (brand) {
  nav.selectBrand(brand)
}
</script>

<template>
  <q-btn-group rounded flat>
    <q-btn-dropdown :label="selectedBrand.label || 'Wybierz markę'" title="Wybierz markę">
      <q-list>
        <q-item
          clickable
          v-close-popup
          v-for="brand in brands"
          :key="brand.value"
        >
          <q-item-section>
            <q-item-label @click="selectBrand(brand)">{{ brand.label }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <q-btn dense v-if="selectedBrand.value" @click="selectBrand({})" icon="clear" />
  </q-btn-group>
</template>
