<template>
  <q-markup-table class="table table-sm table-striped table-hover">
    <thead>
      <tr class="text-left">
        <th>Lp.</th>
        <th><q-input dense square outlined v-model="vin" label="VIN" clearable clear-icon="close"/></th>
        <th>Świadectwo zgodności</th>
        <th>Oświadczenie</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(vin, index) in docsListFilterable" :key="index">
        <td>{{ docsList.length-docsList.indexOf(vin) }}</td>
        <td>{{ vin }}</td>
        <td>
          <a :href="'api/docs/' + docsDir + '/' + zfill(docsList.length-docsList.indexOf(vin), 3) + '_' + vin + '_approval-cerificate.pdf'" target="_blank">
            <q-icon name="picture_as_pdf" size="2rem" color="blue-grey" />
          </a>
        </td>
        <td>
          <a :href="'api/docs/' + docsDir + '/' + zfill(docsList.length-docsList.indexOf(vin), 3) + '_' + vin + '_statement.pdf'" target="_blank">
            <q-icon name="picture_as_pdf" size="2rem" color="blue-grey" />
          </a>
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>

<script>
export default {
  name: 'DocsListTable',
  props: ['docsList', 'docsDir'],
  data () {
    return {
      vin: ''
    }
  },
  computed: {
    docsListFilterable () {
      return this.docsList.filter(vin => {
        if (this.vin) {
          return vin.includes(this.vin.toUpperCase())
        }
        return this.docsList
      })
    }
  },
  methods: {
    zfill (number, size) {
      number = number.toString()
      while (number.length < size) {
        number = '0' + number
      }
      return number
    }
  }
}
</script>
