
<script setup>
import { computed } from 'vue'
import { useNavStore } from '../stores/nav.js'

const nav = useNavStore()

const { menu, links } = nav

const leftDrawerOpen = computed({
  get () {
    return nav.drawerOpen
  },
  set (value) {
    nav.$patch({ drawerOpen: value })
  }
})
const shared = computed(() => {
  return menu.filter(e => e.share)
})
</script>

<template>
  <q-drawer
    v-model="leftDrawerOpen"
    bordered
    content-class="bg-grey-2"
  >
    <q-list>
      <q-item-label header>Menu</q-item-label>
      <q-item
        v-for="e in menu"
        :key="e.path"
        :to="e.path"
        :exact="e.path === '/'"
      >
        <q-item-section avatar>
          <q-icon :name="e.icon" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ e.title }}</q-item-label>
          <q-item-label caption>{{ e.caption }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item-label header>Linki</q-item-label>
      <q-item
        v-for="e in links"
        :key="e.url"
        clickable
        tag="a"
        target="_blank"
        :href="e.url"
      >
        <q-item-section avatar>
          <q-icon name="open_in_new" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ e.title }}</q-item-label>
          <q-item-label caption>{{ e.caption }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item-label header>Udostępnione</q-item-label>
      <q-item
        v-for="e in shared"
        :key="e.share+e.path"
        :to="`share${e.path}`"
        target="_blank"
      >
        <q-item-section avatar>
          <q-icon :name="e.icon" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ e.title }}</q-item-label>
          <q-item-label caption>{{ e.caption }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>
