<script>
import BrandToggle from '../components/BrandToggle.vue'
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'ModelSelect',
  components: {
    BrandToggle
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    brands: () => tad.brands,
    types: () => tad.types,
    xmlId: () => nav.selectedXml,
    approvalData: () => tad.approvalBySelection,
    brand: {
      get () {
        return nav.selectedBrand
      },
      set (value) {
        nav.selectBrand(value)
      }
    },
    model: {
      get () {
        return nav.selectedType
      },
      set (value) {
        nav.$patch({ selectedType: value })
      }
    },
    variant: {
      get () {
        return nav.selectedVariant
      },
      set (value) {
        nav.$patch({ selectedVariant: value })
      }
    },
    version: {
      get () {
        return nav.selectedVersion
      },
      set (value) {
        nav.$patch({ selectedVersion: value })
      }
    },
    models () {
      return this.types.filter(el => {
        return ('value' in this.brand) ? el.brand === this.brand.value : true
      })
    },
    variants () {
      if (this.approvalData) {
        return this.approvalData.Saetze.M1vollst.map(el => el['_0.2.VARIANTE']).filter((el, index, result) => {
          return result.indexOf(el) === index
        })
      }
      return []
    },
    versions () {
      if (this.approvalData) {
        return this.approvalData.Saetze.M1vollst.filter(el => {
          return el['_0.2.VARIANTE'] === this.variant
        }).map(el => el['_0.2.VERSION'])
      }
      return []
    }
  },
  watch: {
    brand () {
      this.resetSelects()
    }
  },
  methods: {
    resetSelects () {
      if (this.model !== '' && 'value' in this.model) {
        if (this.model.brand !== this.brand.value) {
          this.model = ''
          this.variant = ''
          this.version = ''
        }
      }
    },
    loadXml (xmlId) {
      this.loading = true
      this.variant = ''
      this.version = ''
      const brandCode = xmlId.split('_')[0]
      this.brand = this.brands.find(brand => brand.value === brandCode)
      tad.fetchApproval(xmlId).then(() => {
        this.loading = false
      })
    }
  }
}
</script>

<template>
  <q-form class="row q-gutter-xs noprint">
    <BrandToggle size="md" :spread="false" />
    <q-select dense outlined v-model="model" :options="models" label="Model" class="col-grow" @update:modelValue="loadXml(xmlId)">
      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps">
          <q-item-section>
            <q-item-label v-html="scope.opt.label" />
            <q-item-label caption>Typ {{ scope.opt.value }}</q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </q-select>
    <q-select dense outlined v-model="variant" :options="variants" label="Wariant" class="col-grow" @update:modelValue="version=''" />
    <q-select dense outlined v-model="version" :options="versions" label="Wersja" class="col-grow" />
    <q-linear-progress indeterminate color="blue-grey" v-if="loading" />
  </q-form>
</template>
