<script setup>
const props = defineProps(['header'])
</script>

<template>
  <div class="container">
    <h4 class="header text-blue-grey text-center">{{ header }}</h4>
    <slot />
  </div>
</template>

<style>
.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 30px;
}
h4.header {
 margin-top: 0;
}
</style>
