<template>
  <section id="statement" v-if="data && data.permissibleMaximumAxlesWeight" class="q-pa-xl">
    <h4 class="text-center">OŚWIADCZENIE</h4>
    <h5 class="text-center">o danych i informacjach o pojeździe<br>niezbędnych do rejestracji i ewidencji pojazdów</h5>
    <p>Oświadczam o dodatkowych, wynikających z obowiązujących na terytorium Rzeczypospolitej Polskiej przepisów,
      danych i informacjach o pojeździe niezbędnych do jego rejestracji i ewidencji,
      który odpowiada pod każdym względem typowi opisanemu w świadectwie homologacji typu WE pojazdu nr
      <strong>{{ data.homologationNumber2ndStage }}</strong> z dnia:
      <strong>{{ data.homologationDate2ndStage }}</strong>
    </p>
    <q-markup-table dense flat>
      <thead>
        <tr>
          <th>Lp.</th>
          <th>Dane i informacje o pojeździe</th>
          <th class="text-right">Wyszczególnienie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Numer identyfikacyjny pojazdu (VIN)</td>
          <td class="text-right">{{ data.vin }}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rodzaj</td>
          <td class="text-right">ciężarowy</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Podrodzaj</td>
          <td class="text-right">VAN</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Przeznaczenie</td>
          <td class="text-right">Nie dotyczy</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Rok produkcji</td>
          <td class="text-right">{{ data.productionDate.substring(0, 4) }}</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Masa własna [kg]</td>
          <td class="text-right">{{ data.actualWeight2ndStage-75 }}</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Dopuszczalna ładowność [kg]</td>
          <td class="text-right">{{ data.permissibleMaximumWeight-(data.runningOrderVehicleMinimumMass2ndStage-75) }}</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Największy dopuszczalny nacisk osi [kN]</td>
          <td class="text-right">{{ data.permissibleMaximumAxlesWeight.toLocaleString('PL') }}</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Dopuszczalna masa całkowita pojazdu [kg]</td>
          <td class="text-right">{{ data.permissibleMaximumWeight }}</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Dopuszczalna masa całkowita zespołu pojazdów [kg]</td>
          <td class="text-right">{{ data.permissibleMaximumWithTrailerWeight }}</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Maksymalna masa całkowita przyczepy z hamulcem [kg]</td>
          <td class="text-right">{{ data.centreAxleTrailerWeight }}</td>
        </tr>
        <tr>
          <td class="align-top" rowspan="3">12</td>
          <td class="align-top no-border" rowspan="2">Inne</td>
          <td class="text-right">Numer rejestru Bazy Danych o<br>Odpadach (nr BDO): 000008136</td>
        </tr>
        <tr>
          <td class="text-right"><strong>zmiana liczby miejsc z {{ data.seatsAmount }} na 2</strong></td>
        </tr>
        <tr>
          <td class="text-right" colspan="2" style="border-bottom:solid 1px rgba(0,0,0,0.12);white-space:normal">{{ data.addInfo }}</td>
        </tr>
      </tbody>
    </q-markup-table>
    <div class="text-right">
      <p>Poznań, {{ data.date }}</p>
      <p>{{ data.user }}</p>
    </div>
    <div class="text-center text-secondary">Nr komisji: {{ data.commissionNumber }} | Nr dealera: {{ data.dealerNumber }}</div>
  </section>
</template>

<script>
export default {
  props: ['driveDataJson'],
  computed: {
    data () {
      return this.driveDataJson
    }
  }
}
</script>
