
<script setup>
import { useTadStore } from '../stores/tad.js'
import { computed, ref } from 'vue'

const { props } = defineProps(['props'])
const tad = useTadStore()

let loading = ref(false)
let rowKey = ref(0)

const xmlId = computed(() => {
  const { brand, type } = props.row
  return `${brand}_${type}`
})
const loadedApprovals = computed(() => {
  return tad.loadedApprovals
})
const loaded = computed(() => {
  return loadedApprovals.value.includes(xmlId.value)
})
const approvalNumber = computed(() => {
  return tad.approvals[xmlId.value]?.Kopf._GENEHMIGUNGSNR
})
const approvalDate = computed(() => {
  const dateStr = tad.approvals[xmlId.value]?.Kopf._GENEHMIGUNGSDAT
  return dateStr ? (new Date(dateStr)).toLocaleDateString('pl') : ''
})
const approvalModel = computed(() => {
  return tad.approvals[xmlId.value]?.Saetze.M1vollst[0]['_0.2.1.HANDELSNAME']
})
const propsComputed = computed(() => {
  const result = props
  result.row.approval = approvalNumber.value
  result.row.date = approvalDate.value
  result.row.model2 = approvalModel.value
  return result
})

async function loadXml(xmlId) {
  loading.value = true
  await tad.fetchApproval(xmlId)
  loading.value = false
  rowKey.value++
}
function deleteApproval(xmlId) {
  console.log("del", xmlId)
  delete tad.approvals[xmlId]
  rowKey.value++
}
</script>

<template>
  <q-tr :props="propsComputed" :key="rowKey">
    <q-td key="brand" :props="props">{{ props.row.brand }}</q-td>
    <q-td key="type" :props="props">{{ props.row.type }}</q-td>
    <q-td key="model" :props="props">{{ props.row.model }}</q-td>
    <q-td key="model2" :props="props">{{ props.row.model2 }}</q-td>
    <q-td key="approval" :props="props">
      <q-btn
        color="blue-grey"
        v-if="!loaded && !loading"
        @click="loadXml(xmlId)"
      >Wczytaj XML</q-btn>
      <q-spinner
        v-if="!loaded && loading"
        color="blue-grey"
        size="3em"
      />
      <div v-if="loaded && !loading">{{ props.row.approval }}</div>
    </q-td>
    <q-td key="date" :props="props">{{ props.row.date }}</q-td>
    <q-td align="center">
      <q-btn
        flat
        fab-mini
        dense
        color="blue-grey"
        v-if="loaded"
        @click="deleteApproval(xmlId)"
        icon="clear"
        title="Usuń XML"
      />
    </q-td>
  </q-tr>
</template>
