<script>
import { useNavStore } from '../stores/nav.js'
import { useTadStore } from '../stores/tad.js'

const nav = useNavStore()
const tad = useTadStore()

export default {
  name: 'ViewerTable',
  props: ['load'],
  data () {
    return {
      pagination: {
        rowsPerPage: 25
      },
      columns: [
        {
          name: 'variant',
          align: 'left',
          label: 'Wariant',
          field: 'variant',
          sortable: true
        }, {
          name: 'version',
          align: 'left',
          label: 'Wersja',
          field: 'version',
          sortable: true
        }, {
          name: 'fuel',
          align: 'left',
          label: 'Paliwo',
          field: 'fuelType',
          sortable: true
        }, {
          name: 'capacity',
          align: 'left',
          label: 'Poj.',
          field: 'engineCapacity',
          sortable: true
        }, {
          name: 'power',
          align: 'left',
          label: 'Moc',
          field: 'engineNetPower',
          sortable: true
        }, {
          name: 'ownMass',
          align: 'left',
          label: 'M.wł.',
          field: 'ownMass',
          sortable: true
        }, {
          name: 'readyMass',
          align: 'left',
          label: 'z kier.',
          field: 'runningOrderMass',
          sortable: true
        }, {
          name: 'dmc',
          align: 'left',
          label: 'DMC',
          field: 'maxPermissibleMass',
          sortable: true
        }, {
          name: 'axes',
          align: 'left',
          label: 'Oś 1/2',
          field: 'maxMassOnAxles',
          sortable: true
        }, {
          name: 'combination',
          align: 'left',
          label: 'Zesp.',
          field: 'withTrailerMass',
          sortable: true
        }, {
          name: 'trailer1',
          align: 'left',
          label: 'Przycz1',
          field: 'centreAxleTrailer',
          sortable: true
        }, {
          name: 'trailer2',
          align: 'left',
          label: 'Przy2',
          field: 'unbrakedTrailer',
          sortable: true
        }, {
          name: 'wheelbase',
          align: 'left',
          label: 'Roz. osi',
          field: 'wheelbase',
          sortable: true
        }, {
          name: 'length',
          align: 'left',
          label: 'Dł.',
          field: 'lengthMinMax',
          sortable: true
        }, {
          name: 'width',
          align: 'left',
          label: 'Szer.',
          field: 'widthMin',
          sortable: true
        }, {
          name: 'height',
          align: 'left',
          label: 'Wys.',
          field: 'heightMinMax',
          sortable: true
        }, {
          name: 'track',
          align: 'left',
          label: 'Roz. kół osi 1/2',
          field: 'axlesTrackMinMax',
          sortable: true
        }, {
          name: 'doors',
          align: 'left',
          label: 'Drzwi',
          field: 'doorsNumber',
          sortable: true
        }, {
          name: 'seats',
          align: 'left',
          label: 'Miej.',
          field: 'seatsNumber',
          sortable: true
        }
      ]
    }
  },
  computed: {
    approvalData: () => tad.approvalBySelection,
    brand: () => nav.selectedBrand,
    viewerTableData () {
      const result = []
      if (this.approvalData && 'Saetze' in this.approvalData) {
        this.approvalData.Saetze.M1vollst.forEach(el => {
          result.push({
            variant: `${el['_0.2.VARIANTE']}`,
            version: `${el['_0.2.VERSION']}`,
            fuelType: `${el['_26.TX_KRAFTSTOFF']}`,
            engineCapacity: `${el['_25.HUBRAUM'] || '---'}`,
            engineNetPower: parseInt(el['_27.1.NENNLEISTKW']) || '---',
            ownMass: `${el['_13.MASSEFAHRBEREITMIN'] - 75}`,
            runningOrderMass: `${el['_13.MASSEFAHRBEREITMIN']}`,
            maxPermissibleMass: `${el['_16.1.TECHZULGESAMTM']}`,
            maxMassOnAxles: `${el['_16.2.ZULMAXACHSLAST1']} / ${el['_16.2.ZULMAXACHSLAST2']}`,
            withTrailerMass: `${el['_16.4.GESAMTM_FZKOMBI'] || '---'}`,
            centreAxleTrailer: `${el['_18.3.ZENTRALACHSANH'] || '---'}`,
            unbrakedTrailer: `${el['_18.4.ZULANHLASTUNGEBR'] || '---'}`,
            wheelbase: `${el['_4.RADSTAND']}`,
            lengthMinMax: el['_5.LAENGEMAX'] ? `${el['_5.LAENGEMIN']} - ${el['_5.LAENGEMAX']}` : `${el['_5.LAENGEMIN']}`,
            widthMin: `${el['_6.BREITEMIN']}`,
            heightMinMax: el['_7.HOEHEMAX'] ? `${el['_7.HOEHEMIN']} - ${el['_7.HOEHEMAX']}` : `${el['_7.HOEHEMIN']}`,
            axlesTrackMinMax: `${el['_30.SPURWEITE1MIN']} - ${el['_30.SPURWEITE1MAX']} / ${el['_30.SPURWEITE2MIN']} - ${el['_30.SPURWEITE2MAX']}`,
            doorsNumber: `${el['_41.TX_ANZANORDTUEREN']}`,
            seatsNumber: `${el['_42.ANZSITZE']}`
          })
        })
      }
      return result
    }
  }
}
</script>

<template>
  <div>
    <q-linear-progress indeterminate color="blue-grey" v-if="load" />
    <q-table
      dense
      :rows="viewerTableData"
      :columns="columns"
      row-key="type"
      :pagination="pagination"
      rows-per-page-label="Wersji na stronie:"
      no-data-label="Brak danych"
      :color="brand.color"
    />
  </div>
</template>

<style scoped>
th {
  color: white;
}
th {
  border: 1px solid #ccc;
  padding: 1px 10px;
}
</style>
