<script setup>
import BrandDorpdown from '../components/BrandDropdown.vue'
import DrawerMenu from '../components/DrawerMenu.vue'
import { useNavStore } from '../stores/nav.js'
import { useMeta } from 'quasar'
import { computed, onMounted, ref } from 'vue'

const appTitle = 'Derive'
const description = ref(null)
useMeta({ title: appTitle })

const nav = useNavStore()

const brand = computed(() => nav.selectedBrand)

const leftDrawerOpen = computed({
  get () {
    return nav.drawerOpen
  },
  set (value) {
    nav.$patch({ drawerOpen: value })
  }
})
const translateTab = computed({
  get () {
    return nav.translateTab
  },
  set (value) {
    nav.$patch({ translateTab: value })
  }
})
const conversionsTab = computed({
  get () {
    return nav.conversionsTab
  },
  set (value) {
    nav.$patch({ conversionsTab: value })
  }
});
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated :class="brand.color ? `bg-${brand.color}` : 'bg-blue-grey'" class="noprint">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title shrink>
          {{ appTitle }}
        </q-toolbar-title>

        <BrandDorpdown />

        <q-space />

        <div>
          Quasar {{ $q.version }}
        </div>
        <!--q-btn flat @click="logout" disable>Wyloguj</q-btn-->
      </q-toolbar>
      <q-tabs v-model="translateTab" v-if="$route.path === '/translate'">
        <q-tab name="translator" label="Tłumacz" />
        <q-tab name="dictionary" label="Słownik" />
        <q-tab name="dict" label="dict" />
      </q-tabs>
      <q-tabs v-model="conversionsTab" v-if="$route.path === '/conversions'">
        <q-tab name="due-docs" label="Do wystawienia" />
        <q-tab name="printed-rapid-2016" label="Wystawione | Rapid 2016-2017" />
        <q-tab name="printed-rapid-2018" label="Wystawione | Rapid 2018" />
        <q-tab name="printed-rapid-2019" label="Wystawione | Rapid 2019" />
        <q-tab name="printed-fabia" label="Wystawione | Fabia" />
        <q-tab name="printed-scala" label="Wystawione | Scala" />
        <q-tab name="printed-ibiza" label="Wystawione | Ibiza" />
        <q-tab name="print-docs" label="Wystaw dokumenty" />
      </q-tabs>
    </q-header>
    <DrawerMenu />

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import firebase from 'firebase/app'
// import 'firebase/auth'

export default {
  name: 'DefaultLayout' /*,
  preFetch ({ store, redirect }) {
    firebase.auth().onAuthStateChanged(user => {
      if (!user) redirect('/login')
    })
  }, */
}
</script>

<!--script setup>
import DrawerMenu from '../components/DrawerMenu'
import BrandDorpdown from '../components/BrandDropdown'
import { computed } from 'vue'
import { useStore } from 'vuex'
import { useMeta } from 'quasar'
// import firebase from 'firebase/app'
// import 'firebase/auth'

const appTitle = 'Homologacje'
useMeta({
  title: appTitle
})
const store = useStore()
// computed
const brand = computed(() => store.getters['nav/selectedBrand'])
const leftDrawerOpen = computed({
  get () {
    return store.getters['nav/drawerState']
  },
  set (value) {
    store.commit('nav/toggleDrawer', value)
  }
})
const translateTab = computed({
  get () {
    return store.getters['nav/translateTab']
  },
  set (value) {
    store.commit('nav/changeTranslateTab', value)
  }
})
const conversionsTab = computed({
  get () {
    return store.getters['nav/conversionsTab']
  },
  set (value) {
    store.commit('nav/changeConversionsTab', value)
  }
})
// methods
/* function logout () {
  firebase
    .auth()
    .signOut()
    .then(() => {
      this.$q.notify({
        color: 'green-5',
        textColor: 'white',
        icon: 'fas fa-check-circle',
        message: 'Wylogowano'
      })
      // this.$store.commit('setUser', null)
      this.$router.push('/login')
    })
    .catch(err => {
      console.error(err)
      this.$q.notify({
        color: 'red-5',
        textColor: 'white',
        icon: 'fas fa-exclamation-triangle',
        message: 'Nie można wylogować'
      })
    })
} */
</script-->
