<template>
  <router-view />
</template>

<script>
export default {
  name: 'NoAuthLayout'
}
</script>

<script setup>
import { useMeta } from 'quasar'

useMeta({
  title: 'Homologacje (gość)'
})
</script>
